.modal-wrapper
    .modal-overlay
    .modal-position
        .modal-city
            .modal-city__img
                img(src="/src/images/select-map.png")
            .modal-city__title Выберите город
            .modal-city__box
                label.modal-city__label(for="input-phone") Ваш город
                input.modal-city__input(type="phone" id="input-phone")
            .modal-city__list
                a.modal-city__select-city Бишкек
                a.modal-city__select-city Балыкчи
                a.modal-city__select-city Кара-Балта
                a.modal-city__select-city Джалал-Абад
                a.modal-city__select-city Баткен
                a.modal-city__select-city Кербен
                a.modal-city__select-city Айдарбек
                a.modal-city__select-city Ак-Башат (Жайылский район)
            a(href='#').modal-city__close
                img(src="/src/images/icons/close-modal.svg")






