.natural-banner.preload__area
    .natural-banner__nav
        .natural-banner__nav-button.natural-banner__nav-button--prev
            +iconSvg('arrow','natural-banner__nav-button-icon')
        .natural-banner__nav-button.natural-banner__nav-button--next
            +iconSvg('arrow','natural-banner__nav-button-icon')
    
    .natural-banner__wrapper
        .natural-banner__item
            img(data-src='/images/examples/natural-banner.jpg').natural-banner__img.preload__item
            .natural-banner__desc
                a(href='#').natural-banner__desc-title Напольные покрытия
                a(href='#').natural-banner__desc-link Подробнее
        .natural-banner__item
            img(data-src='/images/examples/natural-banner.jpg').natural-banner__img.preload__item
            .natural-banner__desc
                a(href='#').natural-banner__desc-title Напольные покрытия
                a(href='#').natural-banner__desc-link Подробнее
        .natural-banner__item
            img(data-src='/images/examples/natural-banner.jpg').natural-banner__img.preload__item
            .natural-banner__desc
                a(href='#').natural-banner__desc-title Напольные покрытия
                a(href='#').natural-banner__desc-link Подробнее