$white: #f8f8f8;
$blue: #415ab7;
$blue-hover:#3a52ab;
$blue-active: #354b9b;
$blue-dark:#2f3137;
$black: #2f3137;
$red: #e0141f;
$red-hover: #ce0f1a;
$red-active: #bc0c16;
$dark-black: #1f2023;
$light-grey: rgba(47, 49, 55, 0.07);
$shadow-input: 0 2px 15px rgba(65, 90, 183, 0.12);
$sky-blue: rgba(65, 90, 183, 0.05);
$sky-blue-hover: rgba(65, 90, 183, 0.08);
$sky-blue-active: rgba(65, 90, 183, 0.12);
$light-blue: rgba(65, 90, 183, 0.1);
$light-blue-hover: rgba(65, 90, 183, 0.15);
$light-blue-active: rgba(65, 90, 183, 0.25);
$green: #38c17b;
$background-blue: rgba(65, 90, 183, 0.05);


$scroll-panel:'.scroll-panel--scroll'