section.read-blogs.read-blogs--white
    .container
        .title Похожие статьи
        .item-owl-container
            .read-blogs__carousel.owl-carousel.owl-theme.owl-carousel-style
                .read-blogs__item
                    .read-blogs__item-image.read-blogs__item-image-news
                        img.read-blogs__img.read-blogs__img--size(src="/src/blocks/read-blogs/assets/img/image-carousel.png")
                    .read-blogs__date 27.05.2020
                    .read-blogs__item-title Лучшие средства для удобрения растений
                    .read-blogs__item-text На рассаду в средней полосе семена помидоров сеют в марте – начале апреля. Срок посадки в грунт зависит от региона. Для средней полосы – это май…
                    a(href="#").read-blogs__item-button
                        | Подробнее
                        .read-blogs__item-button-icon
                .read-blogs__item
                    .read-blogs__item-image.read-blogs__item-image-news
                        img.read-blogs__img.read-blogs__img--size(src="/src/blocks/read-blogs/assets/img/image-carousel.png")
                    .read-blogs__date 27.05.2020
                    .read-blogs__item-title Лучшие средства для удобрения растений
                    .read-blogs__item-text На рассаду в средней полосе семена помидоров сеют в марте – начале апреля. Срок посадки в грунт зависит от региона. Для средней полосы – это май…
                    a(href="#").read-blogs__item-button
                        | Подробнее
                        .read-blogs__item-button-icon
                .read-blogs__item
                    .read-blogs__item-image.read-blogs__item-image-news
                        img.read-blogs__img.read-blogs__img--size(src="/src/blocks/read-blogs/assets/img/image-carousel.png")
                    .read-blogs__date 27.05.2020
                    .read-blogs__item-title Лучшие средства для удобрения растений
                    .read-blogs__item-text На рассаду в средней полосе семена помидоров сеют в марте – начале апреля. Срок посадки в грунт зависит от региона. Для средней полосы – это май…
                    a(href="#").read-blogs__item-button
                        | Подробнее
                        .read-blogs__item-button-icon
                .read-blogs__item
                    .read-blogs__item-image.read-blogs__item-image-news
                        img.read-blogs__img.read-blogs__img--size(src="/src/blocks/read-blogs/assets/img/image-carousel.png")
                    .read-blogs__date 27.05.2020
                    .read-blogs__item-title Лучшие средства для удобрения растений
                    .read-blogs__item-text На рассаду в средней полосе семена помидоров сеют в марте – начале апреля. Срок посадки в грунт зависит от региона. Для средней полосы – это май…
                    a(href="#").read-blogs__item-button
                        | Подробнее
                        .read-blogs__item-button-icon
                .read-blogs__item
                    .read-blogs__item-image.read-blogs__item-image-news
                        img.read-blogs__img.read-blogs__img--size(src="/src/blocks/read-blogs/assets/img/image-carousel.png")
                    .read-blogs__date 27.05.2020
                    .read-blogs__item-title Лучшие средства для удобрения растений
                    .read-blogs__item-text На рассаду в средней полосе семена помидоров сеют в марте – начале апреля. Срок посадки в грунт зависит от региона. Для средней полосы – это май…
                    a(href="#").read-blogs__item-button
                        | Подробнее
                        .read-blogs__item-button-icon




