.catalog__submenu
    .catalog__submenu-inner.container
        .catalog__submenu-item
            a(href="#").catalog__submenu-item-title Ландшафтный дизайн
            a(href="#").catalog__submenu-item-link Агроволокно и укрывные материалы
            a(href="#").catalog__submenu-item-link Садовые фигуры
            a(href="#").catalog__submenu-item-link Сетки и ограждения

        .catalog__submenu-item
            a(href="#").catalog__submenu-item-title Газовые шланги и комплектующие
            a(href="#").catalog__submenu-item-link Компрессоры и комплектующие
            a(href="#").catalog__submenu-item-link Огнетушители
            a(href="#").catalog__submenu-item-link Пожарные рукава
            a(href="#").catalog__submenu-item-link Пожарные шкафы и щиты

        .catalog__submenu-item
            a(href="#").catalog__submenu-item-title Отделочный инструмент
            a(href="#").catalog__submenu-item-link Инструмент для затирки швов/Шпатели/Щетки
            a(href="#").catalog__submenu-item-link Миксеры для смесей и красок
            a(href="#").catalog__submenu-item-link Отвесы/Правила строительные/Терки
            a(href="#").catalog__submenu-item-link Пистолет для пены и герметика
            
        .catalog__submenu-item
            a(href="#").catalog__submenu-item-title Полив и орошения
            a(href="#").catalog__submenu-item-link Емкости для полива
            a(href="#").catalog__submenu-item-link Капельный полив и орошение
            a(href="#").catalog__submenu-item-link Катушки для шланга
            a(href="#").catalog__submenu-item-link Опрыскиватели
            a(href="#").catalog__submenu-item-link Полиэтиленовые трубы и фитинги
            a(href="#").catalog__submenu-item-link Разбрызгиватели и наконечники
            a(href="#").catalog__submenu-item-link Шланги для полива

        .catalog__submenu-item
            a(href="#").catalog__submenu-item-title Ландшафтный дизайн
            a(href="#").catalog__submenu-item-link Агроволокно и укрывные материалы
            a(href="#").catalog__submenu-item-link Садовые фигуры
            a(href="#").catalog__submenu-item-link Сетки и ограждения

        .catalog__submenu-item
            a(href="#").catalog__submenu-item-title Газовые шланги и комплектующие
            a(href="#").catalog__submenu-item-link Компрессоры и комплектующие
            a(href="#").catalog__submenu-item-link Огнетушители
            a(href="#").catalog__submenu-item-link Пожарные рукава
            a(href="#").catalog__submenu-item-link Пожарные шкафы и щиты

        .catalog__submenu-item
            a(href="#").catalog__submenu-item-title Отделочный инструмент
            a(href="#").catalog__submenu-item-link Инструмент для затирки швов/Шпатели/Щетки
            a(href="#").catalog__submenu-item-link Миксеры для смесей и красок
            a(href="#").catalog__submenu-item-link Отвесы/Правила строительные/Терки
            a(href="#").catalog__submenu-item-link Пистолет для пены и герметика

        .catalog__submenu-item
            a(href="#").catalog__submenu-item-title Полив и орошения
            a(href="#").catalog__submenu-item-link Емкости для полива
            a(href="#").catalog__submenu-item-link Капельный полив и орошение
            a(href="#").catalog__submenu-item-link Катушки для шланга
            a(href="#").catalog__submenu-item-link Опрыскиватели
            a(href="#").catalog__submenu-item-link Полиэтиленовые трубы и фитинги
            a(href="#").catalog__submenu-item-link Разбрызгиватели и наконечники
            a(href="#").catalog__submenu-item-link Шланги для полива