mixin rating0
    .rating
        .rating__stars
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
        .rating__text Нет отзывов

mixin rating1
    .rating
        .rating__stars
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
        .rating__text 17 отзывов

mixin rating2
    .rating
        .rating__stars
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
        .rating__text 17 отзывов

mixin rating3
    .rating
        .rating__stars
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
        .rating__text 17 отзывов

mixin rating4
    .rating
        .rating__stars
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star')
        .rating__text 17 отзывов

mixin rating5
    .rating
        .rating__stars
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
        .rating__text 17 отзывов


mixin rating0
    .rating
        .rating__stars
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
        .rating__text Нет отзывов

mixin rating1empty
    .rating
        .rating__stars
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')

mixin rating2empty
    .rating
        .rating__stars
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')

mixin rating3empty
    .rating
        .rating__stars
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star')
            +iconSvg('star','rating__star')

mixin rating4empty
    .rating
        .rating__stars
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star')

mixin rating5empty
    .rating
        .rating__stars
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')
            +iconSvg('star','rating__star rating__star--active')