.account
    include account-header
    .account__block
        .account__form-wrapper
            .account__form.form-check
                .account__form-title Личные данные
                .account__form-item
                    .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                        input.input.placeholder__input(placeholder='ФИО')
                        .placeholder__item ФИО
                .account__form-item
                    .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                        input.input.placeholder__input(placeholder='Телефон')
                        .placeholder__item Телефон
                .account__form-item
                    .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                        input.input.placeholder__input(placeholder='Адрес')
                        .placeholder__item Адрес
                .account__form-item
                    .account__button.form-check__button Сохранить
            .account__form.form-check
                .account__form-title Юридическое лицо
                .account__form-item
                    .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                        input.input.placeholder__input(placeholder='Название юр.лица')
                        .placeholder__item Название юр.лица
                .account__form-item
                    .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                        input.input.placeholder__input(placeholder='ИНН')
                        .placeholder__item ИНН
                .account__form-item
                    .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                        input.input.placeholder__input(placeholder='Юридический адрес')
                        .placeholder__item Юридический адрес
                .account__form-item
                    .account__button.form-check__button Сохранить










