.account
    .account__header
        .account__header-button.account__header-button--active
            +iconSvg('user','account__header-button-icon')
            .account__header-button-text Личные данные
        .account__header-button
            +iconSvg('order','account__header-button-icon')
            .account__header-button-text Мои заказы
        .account__header-button
            +iconSvg('eye','account__header-button-icon')
            .account__header-button-text Просмотренные товары
    .account__block
        .account__form.form-check
            .account__form-item
                .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                    input.input.placeholder__input(placeholder='ФИО')
                    .placeholder__item ФИО
            .account__form-item
                .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                    input.input.placeholder__input(placeholder='Телефон')
                    .placeholder__item Телефон
            .account__form-item
                .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                    input.input.placeholder__input(placeholder='Адрес')
                    .placeholder__item Адрес
            .account__form-item
                .account__button.form-check__button Сохранить











