.idea
*.iml
*.tar
*.gz
*.zip
.DS_Store
out
gen
/createXML/*.xml

/.htaccess
local/templates/stroygip/assets/node_modules/
bitrix/cache/
bitrix/admin/
bitrix/css/
bitrix/fonts/
bitrix/gadgets/
bitrix/image_uploader/
bitrix/images/
bitrix/blocks/
bitrix/js/
bitrix/modules/
bitrix/panel/
bitrix/php_interface/
bitrix/services/
bitrix/sounds/
bitrix/components/bitrix/
bitrix/backup/
bitrix/managed_cache/
bitrix/stack_cache/
bitrix/logs/
bitrix/themes/
bitrix/tools/
bitrix/updates/
bitrix/wizards/
bitrix/tmp/
bitrix/.settings.local.php
bitrix/php_interface/dbconn.php
bitrix/site_checker*.log
/upload/
upload/
bitrix/.access.php
bitrix/.settings.php
bitrix/bitrix.php
bitrix/composer.json.example
bitrix/composer-bx.json
bitrix/coupon_activation.php
bitrix/footer.php
bitrix/header.php
_v/
/local/vendor
/node_modules
/*.xml
/robots.txt