.personal-area
    .container
        .breadcrumbs
            .breadcrumbs__inner
                a.breadcrumbs__link(href="#") Главная
                .breadcrumbs__separator
                a.breadcrumbs__link.active(href="#") Личный кабинет
        .title.personal-area__title Добрый день Иван!
        .personal-area__grid


            // panel container
            .personal-area__panel-container
                a(href="#").personal-area__panel-item.personal-area__panel-item-home
                    .personal-area__panel-icon.personal-area__panel-icon--home
                    .personal-area__panel-text Главная

                .personal-area__panel-title Заказы
                .personal-area__panel-items-box
                    a(href="#").personal-area__panel-item
                        .personal-area__panel-icon.personal-area__panel-icon--orders
                        .personal-area__panel-text Мои заказы


                .personal-area__panel-title Профиль
                .personal-area__panel-items-box
                    a(href="#").personal-area__panel-item
                        .personal-area__panel-icon.personal-area__panel-icon--organization
                        .personal-area__panel-text Мои организации
                    a(href="#").personal-area__panel-item
                        .personal-area__panel-icon.personal-area__panel-icon--estimate
                        .personal-area__panel-text Сметы
                    a(href="#").personal-area__panel-item
                        .personal-area__panel-icon.personal-area__panel-icon--info
                        .personal-area__panel-text Личные данные
                    a(href="#").personal-area__panel-item.personal-area__panel-item--active
                        .personal-area__panel-icon.personal-area__panel-icon--bonuses
                        .personal-area__panel-text Бонусы

                        .personal-area__bonuses-notification
                            .personal-area__bonuses-notification-text 245
                            .personal-area__bonuses-notification-icon
                                img(src="/src/blocks/personal-area/assets/img/bonus-star.svg")



                a(href="#").personal-area__panel-item
                    .personal-area__panel-icon.personal-area__panel-icon--exit
                    .personal-area__panel-text Выход
            // end panel container

            .personal-area__block
                .personal-area__block-inner
                    .personal-area__block-title Ваши бонусы
                    .personal-area__bonuses-value
                        .personal-area__bonuses-value-title Бонусные баллы:
                        .personal-area__bonuses-value-text 456
                    .personal-area__text-small За каждые 500 рублей возвращаем 1% бонусами
                    .personal-area__title-small Как использовать бонусы
                    .personal-area__text-small.personal-area__text-small--mb-large
                        | Вы можете оплатить ими до 50% стоимости товаров при следующем заказе. <br>
                        | Баллами нельзя оплатить товар по акции.
                    .personal-area__title-small История бонусов

                    .personal-area__tab-history-block
                        .personal-area__tab-history
                            .personal-area__tab-history-head
                                .personal-area__bonuses-head-row
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-title Дата:
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-title Номер заказа:
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-title Сумма заказа:
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-title Статус баллов:
                            .personal-area__tab-history-inner
                                .personal-area__tab-history-row
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text 27.06.2020
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text № 23833548
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text 1500 com
                                    .personal-area__tab-history-col
                                        .personal-area__bonuses-amount +250
                                .personal-area__tab-history-row
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text 27.06.2020
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text № 23833548
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text 1500 com
                                    .personal-area__tab-history-col
                                        .personal-area__bonuses-amount +567
                                .personal-area__tab-history-row
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text 27.06.2020
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text № 23833548
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text 1500 com
                                    .personal-area__tab-history-col
                                        .personal-area__bonuses-amount.personal-area__bonuses-amount--red -200
                                .personal-area__tab-history-row
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text 27.06.2020
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text № 23833548
                                    .personal-area__tab-history-col
                                        .personal-area__tab-history-text 1500 com
                                    .personal-area__tab-history-col
                                        .personal-area__bonuses-amount +250




