<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Прораба</title>
  <link href="main.css" rel="stylesheet"></head>
  <body class="clear-page">
        <div class="header-clear layout layout--small"><a class="header-clear__logo" href="/"><img class="header-clear__logo-img" src="/local/templates/stroygip/ts/images/logo/logo-black.svg"></a>
          <div class="header-clear__title">Корзина</div>
        </div>
    <section class="section">
      <div class="layout layout--small">
        <div class="basket basket--empty">
          <div class="basket__empty">
            <svg class="basket__empty-icon">
              <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#empty-box"></use>
            </svg>
            <div class="basket__empty-text-box">
              <div class="basket__empty-text">Корзина пуста. Вы можете выбрать товары в</div><a class="basket__empty-text-link" href="#">&nbsp;каталоге</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  <script src="main.js"></script></body>
</html>