<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Прораба</title>
  <link href="main.css" rel="stylesheet"></head>
  <body class="clear-page">
        <div class="header-clear layout layout--small"><a class="header-clear__logo" href="/"><img class="header-clear__logo-img" src="/local/templates/stroygip/ts/images/logo/logo-black.svg"></a>
          <div class="header-clear__title">Корзина</div>
        </div>
    <section class="section">
      <div class="layout layout--small">
        <div class="basket">
          <div class="basket__products">
            <div class="basket__products-title">Товары в корзине: 10</div>
            <div class="basket__products-items">
                  <div class="basket__products-item">
                    <div class="basket__products-item-img-wrapper"><img class="basket__products-item-img" src="/local/templates/stroygip/ts/images/examples/product-1.jpg"></div>
                    <div class="basket__products-item-desc">
                      <div class="basket__products-item-desc-title">
                        <div class="basket__products-item-desc-title-item">Газонокосилка электрическая huter elm-1100 70/4/2</div>
                        <div class="basket__products-item-desc-title-count">
                          <div class="basket__products-item-desc-title-count-text">На складе:</div>
                          <div class="basket__products-item-desc-title-count-number">42 шт.</div>
                        </div>
                      </div>
                      <div class="basket__products-item-desc-count" data-counter-max="5">
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--minus"></div>
                        <div class="basket__products-item-desc-count-value">1</div>
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--plus"></div>
                      </div>
                      <div class="basket__products-item-desc-price">
                        <div class="basket__products-item-desc-price-number">122 342</div>
                        <div class="basket__products-item-desc-price-currency">сом</div>
                      </div>
                      <div class="basket__products-item-desc-del">
                        <svg class="basket__products-item-desc-del-icon">
                          <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#trash"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="basket__products-item">
                    <div class="basket__products-item-img-wrapper"><img class="basket__products-item-img" src="/local/templates/stroygip/ts/images/examples/product-1.jpg"></div>
                    <div class="basket__products-item-desc">
                      <div class="basket__products-item-desc-title">
                        <div class="basket__products-item-desc-title-item">Газонокосилка электрическая huter elm-1100 70/4/2</div>
                        <div class="basket__products-item-desc-title-count">
                          <div class="basket__products-item-desc-title-count-text">На складе:</div>
                          <div class="basket__products-item-desc-title-count-number">42 шт.</div>
                        </div>
                      </div>
                      <div class="basket__products-item-desc-count" data-counter-max="5">
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--minus"></div>
                        <div class="basket__products-item-desc-count-value">1</div>
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--plus"></div>
                      </div>
                      <div class="basket__products-item-desc-price">
                        <div class="basket__products-item-desc-price-number">122 342</div>
                        <div class="basket__products-item-desc-price-currency">сом</div>
                      </div>
                      <div class="basket__products-item-desc-del">
                        <svg class="basket__products-item-desc-del-icon">
                          <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#trash"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="basket__products-item">
                    <div class="basket__products-item-img-wrapper"><img class="basket__products-item-img" src="/local/templates/stroygip/ts/images/examples/product-1.jpg"></div>
                    <div class="basket__products-item-desc">
                      <div class="basket__products-item-desc-title">
                        <div class="basket__products-item-desc-title-item">Газонокосилка электрическая huter elm-1100 70/4/2</div>
                        <div class="basket__products-item-desc-title-count">
                          <div class="basket__products-item-desc-title-count-text">На складе:</div>
                          <div class="basket__products-item-desc-title-count-number">42 шт.</div>
                        </div>
                      </div>
                      <div class="basket__products-item-desc-count" data-counter-max="5">
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--minus"></div>
                        <div class="basket__products-item-desc-count-value">1</div>
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--plus"></div>
                      </div>
                      <div class="basket__products-item-desc-price">
                        <div class="basket__products-item-desc-price-number">122 342</div>
                        <div class="basket__products-item-desc-price-currency">сом</div>
                      </div>
                      <div class="basket__products-item-desc-del">
                        <svg class="basket__products-item-desc-del-icon">
                          <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#trash"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="basket__products-item">
                    <div class="basket__products-item-img-wrapper"><img class="basket__products-item-img" src="/local/templates/stroygip/ts/images/examples/product-1.jpg"></div>
                    <div class="basket__products-item-desc">
                      <div class="basket__products-item-desc-title">
                        <div class="basket__products-item-desc-title-item">Газонокосилка электрическая huter elm-1100 70/4/2</div>
                        <div class="basket__products-item-desc-title-count">
                          <div class="basket__products-item-desc-title-count-text">На складе:</div>
                          <div class="basket__products-item-desc-title-count-number">42 шт.</div>
                        </div>
                      </div>
                      <div class="basket__products-item-desc-count" data-counter-max="5">
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--minus"></div>
                        <div class="basket__products-item-desc-count-value">1</div>
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--plus"></div>
                      </div>
                      <div class="basket__products-item-desc-price">
                        <div class="basket__products-item-desc-price-number">122 342</div>
                        <div class="basket__products-item-desc-price-currency">сом</div>
                      </div>
                      <div class="basket__products-item-desc-del">
                        <svg class="basket__products-item-desc-del-icon">
                          <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#trash"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="basket__products-item">
                    <div class="basket__products-item-img-wrapper"><img class="basket__products-item-img" src="/local/templates/stroygip/ts/images/examples/product-1.jpg"></div>
                    <div class="basket__products-item-desc">
                      <div class="basket__products-item-desc-title">
                        <div class="basket__products-item-desc-title-item">Газонокосилка электрическая huter elm-1100 70/4/2</div>
                        <div class="basket__products-item-desc-title-count">
                          <div class="basket__products-item-desc-title-count-text">На складе:</div>
                          <div class="basket__products-item-desc-title-count-number">42 шт.</div>
                        </div>
                      </div>
                      <div class="basket__products-item-desc-count" data-counter-max="5">
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--minus"></div>
                        <div class="basket__products-item-desc-count-value">1</div>
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--plus"></div>
                      </div>
                      <div class="basket__products-item-desc-price">
                        <div class="basket__products-item-desc-price-number">122 342</div>
                        <div class="basket__products-item-desc-price-currency">сом</div>
                      </div>
                      <div class="basket__products-item-desc-del">
                        <svg class="basket__products-item-desc-del-icon">
                          <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#trash"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="basket__products-item">
                    <div class="basket__products-item-img-wrapper"><img class="basket__products-item-img" src="/local/templates/stroygip/ts/images/examples/product-1.jpg"></div>
                    <div class="basket__products-item-desc">
                      <div class="basket__products-item-desc-title">
                        <div class="basket__products-item-desc-title-item">Газонокосилка электрическая huter elm-1100 70/4/2</div>
                        <div class="basket__products-item-desc-title-count">
                          <div class="basket__products-item-desc-title-count-text">На складе:</div>
                          <div class="basket__products-item-desc-title-count-number">42 шт.</div>
                        </div>
                      </div>
                      <div class="basket__products-item-desc-count" data-counter-max="5">
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--minus"></div>
                        <div class="basket__products-item-desc-count-value">1</div>
                        <div class="basket__products-item-desc-count-button basket__products-item-desc-count-button--plus"></div>
                      </div>
                      <div class="basket__products-item-desc-price">
                        <div class="basket__products-item-desc-price-number">122 342</div>
                        <div class="basket__products-item-desc-price-currency">сом</div>
                      </div>
                      <div class="basket__products-item-desc-del">
                        <svg class="basket__products-item-desc-del-icon">
                          <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#trash"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
          <div class="basket__order">
            <div class="basket__order-wrapper">
              <div class="basket__order-main">
                <div class="basket__order-title">Заказ:</div>
                <div class="basket__order-desc">
                  <div class="basket__order-desc-row">
                    <div class="basket__order-desc-row-item">Товары 10 шт.</div>
                    <div class="basket__order-desc-row-value">76 625 сом</div>
                  </div>
                  <div class="basket__order-desc-row">
                    <div class="basket__order-desc-row-item">Вес заказа</div>
                    <div class="basket__order-desc-row-value">0 кг</div>
                  </div>
                  <div class="basket__order-desc-row basket__order-desc-row--result">
                    <div class="basket__order-desc-row-item">Общая стоимость</div>
                    <div class="basket__order-desc-row-value">75 625 сом</div>
                  </div>
                </div>
              </div>
              <div class="basket__order-actions">
                <div class="basket__order-actions-buttons">
                  <div class="basket__order-actions-button basket__order-actions-button--bill">
                    <svg class="basket__order-actions-button-icon">
                      <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#bill"></use>
                    </svg><span class="basket__order-actions-button-text">Сохранить как смету</span>
                  </div>
                  <div class="basket__order-actions-button basket__order-actions-button--print" onclick="window.print()">
                    <svg class="basket__order-actions-button-icon">
                      <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#print"></use>
                    </svg><span class="basket__order-actions-button-text">Версия для печати</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="basket__order-actions-main-button">Перейти к оформлению заказа</div>
          </div>
        </div>
      </div>
    </section>
    <!--include ../blocks/footer/footer-->
  <script src="main.js"></script></body>
</html>