<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Прораба</title>
  <link href="main.css" rel="stylesheet"></head>
  <body class="clear-page">
        <div class="header-clear layout layout--small"><a class="header-clear__logo" href="/"><img class="header-clear__logo-img" src="/local/templates/stroygip/ts/images/logo/logo-black.svg"></a>
          <div class="header-clear__title">Подтверждение заказа</div>
        </div>
    <section class="section">
      <div class="layout layout--small">
        <div class="order-result">
          <div class="order-result__icon-wrapper order-result__icon-wrapper--red">
            <svg class="order-result__icon order-result__icon--red">
              <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#close"></use>
            </svg>
          </div>
          <div class="order-result__desc">
            <div class="order-result__desc-title">При оплате произошла ошибка</div>
            <div class="order-result__desc-text">Вы можете вернуться в личный кабинет и оплатить заказ.</div>
            <div class="order-result__desc-button">Перейти к оплате заказа</div>
          </div>
        </div>
      </div>
    </section>
  <script src="main.js"></script></body>
</html>