<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2Прораба</title>
  <link href="main.css" rel="stylesheet"></head>
  <body class="clear-page">
        <div class="header-clear layout layout--small"><a class="header-clear__logo" href="/"><img class="header-clear__logo-img" src="/local/templates/stroygip/ts/images/logo/logo-black.svg"></a>
          <div class="header-clear__title">Подтверждение заказа</div>
        </div>
    <section class="section">
      <div class="layout layout--small">
        <div class="order-result">
          <div class="order-result__icon-wrapper">
            <svg class="order-result__icon">
              <use xlink:href="/local/templates/stroygip/ts/images/icons/icons-sprite.svg#check"></use>
            </svg>
          </div>
          <div class="order-result__desc">
            <div class="order-result__desc-title">Ваш заказ №161 успешно оформлен!</div>
            <div class="order-result__desc-text">На вашу электронную почту отправлены данные по заказу. Как только заказ будет отгружен, вам придет уведомление.</div>
            <div class="order-result__desc-button">Отслеживать статус заказа</div>
          </div>
        </div>
      </div>
    </section>
  <script src="main.js"></script></body>
</html>