.owl-carousel.owl-theme.main-owl-carousel
    .main-item
        .main-item__inner
            .main-item__about
                .main-item__title Машина шлифовальная
                .main-item__name Total Angle Grinder
                .main-item__might 2600w
                .main-item__button
                    a(href="#").button Смотреть товар
            .main-item__img
                img(src="../../src/images/item-main.png")
            .main-item__price
                .main-item__discount 5 465
                .main-item__cost
                    | 4 812
                    <span>com<span>
    .main-item
        .main-item__inner
            .main-item__about
                .main-item__title Машина шлифовальная
                .main-item__name Total Angle Grinder
                .main-item__might 2600w
                .main-item__button
                    a(href="#").button Смотреть товар
            .main-item__img
                img(src="../../src/images/item-main.png")
            .main-item__price
                .main-item__discount 5 465
                .main-item__cost
                    | 4 812
                    <span>com<span>
    .main-item
        .main-item__inner
            .main-item__about
                .main-item__title Машина шлифовальная
                .main-item__name Total Angle Grinder
                .main-item__might 2600w
                .main-item__button
                    a(href="#").button Смотреть товар
            .main-item__img
                img(src="../../src/images/item-main.png")
            .main-item__price
                .main-item__discount 5 465
                .main-item__cost
                    | 4 812
                    <span>com<span>