.owl-carousel.owl-theme.main-product-carousel
    .main-product
        .container
            .main-product__inner
                .main-product__about
                    .main-product__name Машина шлифовальная
                    .main-product__subname Total Angle Grinder
                    .main-product__might 2600w
                    .button.main-product__button Смотреть товар
                .main-product__item
                    img(src="/src/blocks/main-carousel/assets/img/instrument.png").main-product__item-img
                    .main-product__item-button Успей купить
                    .main-product__price
                        .main-product__price-discount
                            | 5 465
                        .main-product__price-amount
                            | 4 812
                            span com
    .main-product
        .container
            .main-product__inner
                .main-product__about
                    .main-product__name Машина шлифовальная
                    .main-product__subname Total Angle Grinder
                    .main-product__might 2600w
                    .button.main-product__button Смотреть товар
                .main-product__item
                    img(src="/src/blocks/main-carousel/assets/img/instrument.png").main-product__item-img
                    .main-product__item-button Успей купить
                    .main-product__price
                        .main-product__price-discount
                            | 5 465
                        .main-product__price-amount
                            | 4 812
                            span com
    .main-product
        .container
            .main-product__inner
                .main-product__about
                    .main-product__name Машина шлифовальная
                    .main-product__subname Total Angle Grinder
                    .main-product__might 2600w
                    .button.main-product__button Смотреть товар
                .main-product__item
                    img(src="/src/blocks/main-carousel/assets/img/instrument.png").main-product__item-img
                    .main-product__item-button Успей купить
                    .main-product__price
                        .main-product__price-discount
                            | 5 465
                        .main-product__price-amount
                            | 4 812
                            span com