header.header
    .container
        .header__inner
            .header__logo-hidden
                include ../../blocks/logo/logo
            include ../../blocks/your-country/your-country
            include ../../blocks/nav/nav
            .header__icon.header__icon--user
            .header__icon.header__icon--basket
            .header__burger-menu
                include ../../blocks/burger-menu/burger-menu
