footer.footer
    .container
        .footer__inner
            .footer__box
                .footer__col.footer__col--mr.footer__col--hidden
                    img(src="/src/images/icons/logo-prorab.svg").footer__logo
                    .footer__discription Цены на сайте могут отличаться от цен в розничных магазинах.
                    .footer__right 2 прораба © 2020 <br> Все права защищены.
                .footer__col.footer__col--pt
                    a(href="#").footer__link Каталог
                    a(href="#").footer__link Акции
                    a(href="#").footer__link О компании
                    a(href="#").footer__link Новости
                    a(href="#").footer__link.footer--hidden Доставка и оплата
                    a(href="#").footer__link.footer--hidden Условия возврата
                    a(href="#").footer__link.footer--hidden Корпоративным клиентам
                    a(href="#").footer__link.footer--hidden Поставщикам
                    .footer__right-links.footer__right-links--hidden
                        a(href="#").footer__right-link Политика конфиденциальности
                        a(href="#").footer__right-link Договор оферты
                .footer__col.footer__col--pt.footer__col--hidden
                    a(href="#").footer__link Доставка и оплата
                    a(href="#").footer__link Условия возврата
                    a(href="#").footer__link Корпоративным клиентам
                    a(href="#").footer__link Поставщикам
            .footer__col-info
                a(href="tel:").footer__phone +996 (552) 90 13 22
                a(href="mailto:").footer__mail info@2proraba.kg
                .footer__discription.footer--hidden Цены на сайте могут отличаться от цен в розничных магазинах.
                .footer__right.footer--hidden 2 прораба © 2020 <br> Все права защищены.
                .footer__icons-box
                    .footer__icons-title Мы в социальных сетях:
                    .footer__icons
                        a(href="#").footer__icon
                            img(src="/src/images/icons/facebook.svg").footer__img
                        a(href="#").footer__icon
                            img(src="/src/images/icons/vk.svg").footer__img
                        a(href="#").footer__icon
                            img(src="/src/images/icons/twitter.svg").footer__img
                        a(href="#").footer__icon
                            img(src="/src/images/icons/odnoklassniki.svg").footer__img
