.feedback-now.feedback-now--mt
    .feedback-now__inner.feedback-now__inner--padding
        .feedback-now__container
            .feedback-now__title Воспользуйтесь специальными возможностями <br> личного кабинета
            .feedback-now__text Откройте для себя дополнительные возможности личного кабинета.
        .feedback-now__button
            a(href="#").button Зарегистрироваться