.users-panel
    .users-panel__item
        .users-panel__icon.users-panel__icon--heart
        .users-panel__text Избранное

    .users-panel__item
        .users-panel__icon.users-panel__icon--stat
        .users-panel__text Сравнение

    .users-panel__item
        .users-panel__icon.users-panel__icon--basket
        .users-panel__text Корзина
        .users-panel__notification
            .users-panel__notification-value 1
            .users-panel__notification-background


    .users-panel__item
        .users-panel__icon.users-panel__icon--user
        .users-panel__text Мой профиль