form.feedback-area
    .feedback-area__box
        label.feedback-area__label(for="input-mail") Почта
        input.feedback-area__input(type="email" id="input-mail")
    .feedback-area__item-button
        button.button Оставить заявку
//
//.feedback-area__checkbox-box
//    input(type="checkbox" id="feedback-area-email").feedback-area__checkbox-input
//    label(for="feedback-area-email").feedback-area__checkbox-label Я даю согласие на обработку своих персональных данных согласно <a class="feedback-area__checkbox-link" href="#"> политике конфиденциальности </a>
