form.feedback-area
    .feedback-area__box.feedback-area__box--mb
        label.feedback-area__label(for="input-name") Ваше имя
        input.feedback-area__input(type="text" id="input-name")
    .feedback-area__box
        label.feedback-area__label(for="input-phone") Телефон
        input.feedback-area__input(type="phone" id="input-phone")
    .feedback-area__item-button
        button.button Оставить заявку

.feedback-area__checkbox-box
    input(type="checkbox" id="feedback-area").feedback-area__checkbox-input
    .feedback-area__square
    label(for="feedback-area").feedback-area__checkbox-label Я даю согласие на обработку своих персональных данных согласно <a class="feedback-area__checkbox-link" href="#"> политике конфиденциальности </a>
