.cost-size
    .container
        .title Стоимость доставки по габаритам
        .cost-size__tab
            .cost-size__box
                .cost-size__header Вес (объем) заказа
                .cost-size__row до 300 кг (до 2м3)
                .cost-size__row От 300 кг до 500 кг (до 3м3)
                .cost-size__row От 500 кг до 1,0 тонн (до 6м3)
                .cost-size__row От 1,0 тонн до 1,5 тонн (до 10м3)
            .cost-size__box
                .cost-size__header Цена, Сом
                .cost-size__row 350
                .cost-size__row 500
                .cost-size__row 600
                .cost-size__row 700