@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";


.breadcrumb {
  padding: 30px 0;
  @include flex-row;
  align-items: center;
  flex-wrap: wrap;


  &__item {
    color: var(--black-color);

    &:hover {
      color: var(--blue-color);
    }

    &--active {
      color: var(--gray-color);

      &:hover {
        color: var(--gray-color);
      }
    }
  }

  &__separator {
    width: 8px;
    height: 8px;
    display: block;
    margin: 0 5px;
    fill: var(--gray-color);
  }
}
