.breadcrumb
    a(href='#').breadcrumb__item Каталог
    +iconSvg('arrow','breadcrumb__separator')
    a(href='#').breadcrumb__item Подкатегория каталога
    +iconSvg('arrow','breadcrumb__separator')
    .breadcrumb__item.breadcrumb__item--active Текущая подкатегория каталога