@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.product-cart {

  $big-cart: '.previews-grid__item--big';
  $middle-cart: '.previews-grid__item--middle';
  $small-cart: '.previews-grid__item--small';
  $single-cart: '.previews-slider__item';

  $left-right-side: '26px';
  $top-bottom-side: '15px';

  &__block {
    border: 1px solid var(--light-gray-color);
    overflow: hidden;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    background: var(--white-color);
    position: relative;

    @include tablet-big-screen {
      height: 395px;
    }

    &:hover {
      border: 1px solid var(--gray-color);
    }
  }

  &__name {
    position: absolute;
    left: #{$left-right-side};
    top: #{$top-bottom-side};
    font-weight: 700;
    font-size: 21px;
    z-index: 1;
    color: var(--black-color);
    overflow: hidden;
    @include unselectable;

    #{$big-cart} & {
      width: 55%;
      $line-height: 28;
      line-height: #{$line-height}px;
      height: #{$line-height * 5}px;
    }

    #{$middle-cart} & {
      width: calc(100% - #{$left-right-side} - #{$left-right-side});
      font-size: 18px;
      $line-height: 24;
      line-height: #{$line-height}px;
      height: #{$line-height * 2}px;
    }

    #{$small-cart} & {
      width: 45%;
      font-size: 18px;
      $line-height: 24;
      line-height: #{$line-height}px;
      height: #{$line-height * 4}px;

      @include desktop-small-screen {
        width: 40%;
        font-size: 14px;
        $line-height: 18;
        line-height: #{$line-height}px;
        height: #{$line-height * 4}px;
      }
    }

    #{$single-cart} & {
      left: #{$left-right-side};
      top: 400px;
      font-weight: 700;
      font-size: 18px;
      $line-height: 24;
      line-height: #{$line-height}px;
      height: #{$line-height * 2}px;
    }

    @include tablet-big-screen {
      top: 315px !important;
      font-weight: 700;
      font-size: 15px !important;
      $line-height: 19;
      line-height: #{$line-height}px !important;
      height: #{$line-height * 2}px !important;
      left: 10px !important;
      width: calc(100% - 20px) !important;
    }
  }

  &__reviews {
    z-index: 1;
    position: absolute;
    right: #{$left-right-side};
    top: 22px;
    display: none;

    #{$big-cart} & {
      display: block;

      @include tablet-big-screen {
        display: none!important;
      }
    }
  }

  &__img {
    position: absolute;
    right: #{$left-right-side};
    top: 50px;
    width: 70%;
    height: calc(100% - 65px);
    object-fit: contain;
    object-position: center right;
    z-index: 0;
    @include unselectable;

    #{$middle-cart} & {
      width: 50%;
    }

    #{$small-cart} & {
      top: 70px;
      width: 70%;
      height: calc(100% - 75px);

      @include desktop-small-screen {
        width: 40%;
      }
    }

    #{$single-cart} & {
      left: #{$left-right-side};
      top: #{$top-bottom-side};
      width: calc(100% - #{$left-right-side} - #{$left-right-side} - 50px);
      height: calc(100% - 150px);
      object-position: center;
    }

    @include desktop-small-screen {
      right: 15px;
    }

    @include tablet-big-screen {
      left: 10px!important;
      top: 10px!important;
      width: calc(100% - 80px)!important;
      height: 250px!important;
      object-position: center!important;
    }
  }

  &__price {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-gap: 5px;
    position: absolute;
    left: #{$left-right-side};
    top: 187px;
    align-items: baseline;
    border-radius: 14px;
    @include unselectable;

    #{$big-cart} & {
      background: var(--red-color);
      color: var(--white-color);
      padding: 0 15px;
    }

    #{$middle-cart} & {
      top: 170px;
      background: var(--white-color);
      color: var(--black-color);
      border: 2px solid var(--black-color);
      padding: 0 10px;

      @include desktop-small-screen {
        top: 186px;
      }
    }

    #{$small-cart} & {
      top: 130px;
      background: var(--white-color);
      color: var(--black-color);
      border: 2px solid var(--black-color);
      padding: 0 10px;
    }

    #{$single-cart} & {
      top: 350px;
    }

    @include tablet-big-screen {
      top: 270px !important;
      border: 1px solid var(--black-color);
      padding: 0 10px;
      left: 10px;
    }
  }

  &__price-number {
    white-space: nowrap;
    font-size: 50px;
    font-weight: 700;

    #{$middle-cart} & {
      font-size: 40px;

      @include desktop-small-screen {
        font-size: 26px;
      }
    }

    #{$small-cart} & {
      font-size: 26px;
    }

    #{$single-cart} & {
      font-size: 30px;

      @include desktop-small-screen {
        font-size: 25px;
      }
    }

    @include tablet-big-screen {
      font-size: 26px;
    }
  }

  &__price-currency {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
  }

  &__code {
    position: absolute;
    left: #{$left-right-side};
    bottom: #{$top-bottom-side};
    font-size: 13px;
    @include unselectable;

    @include tablet-big-screen {
      left: 10px;
    }
  }

  &__counter {
    display: grid;
    grid-template-columns: 30px min-content 30px;
    grid-gap: 6px;
    position: absolute;
    left: #{$left-right-side};
    align-items: center;
    top: 265px;

    #{$middle-cart} & {
      top: 240px;
    }

    #{$small-cart} & {
      display: none;
    }

    #{$single-cart} & {
      top: 350px;
      left: auto;
      right: #{$left-right-side};
    }

    @include tablet-big-screen {
      top: 271px !important;
      left: auto;
      right: 10px !important;
    }
  }

  &__counter-button {
    width: 100%;
    height: 30px;
    position: relative;
    cursor: pointer;

    &--plus:before,
    &--minus:before {
      width: 14px;
      height: 4px;
      left: 8px;
      top: 13px;
    }

    &--plus:after {
      width: 4px;
      height: 14px;
      left: 13px;
      top: 8px;
    }

    &:before,
    &:after {
      @include pseudo-absolute;
      background: var(--black-color);
    }

    &:hover:before,
    &:hover:after {
      background: var(--red-color);
    }

  }

  &__counter-value {
    font-size: 30px;
    font-weight: 700;


    #{$single-cart} & {

      @include desktop-small-screen {
        font-size: 25px;
      }
    }

    @include tablet-big-screen {
      font-size: 26px;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-gap: 10px;
    position: absolute;
    left: #{$left-right-side};
    align-items: center;
    top: 325px;

    #{$middle-cart} & {
      top: 293px;
    }

    #{$small-cart} & {
      left: auto;
      right: #{$left-right-side};
      top: #{$top-bottom-side};
    }

    #{$single-cart} & {
      top: #{$top-bottom-side};
      right: #{$top-bottom-side};
      left: auto;
      grid-template-columns: min-content;
      justify-content: center;
    }

    @include tablet-big-screen {
      top: 10px;
      right: 10px;
      left: auto;
      grid-template-columns: min-content;
      justify-content: center;
    }
  }

  &__button {
    width: 30px;
    height: 30px;
    position: relative;
    background: var(--extra-light-gray-color);
    border-radius: 50%;
    border: 1px solid var(--extra-light-gray-color);
    cursor: pointer;

    &--active {
      background: var(--red-color);
      border: 1px solid var(--red-color);
    }

    &--basket {
      width: 50px;
      height: 50px;

      #{$single-cart} & {
        order: -1;
      }

      @include tablet-big-screen {
        order: -1;
      }
    }

    &:hover {
      border-color: var(--red-color);
    }

    #{$single-cart} & {
      @include margin-auto;
    }

    @include tablet-big-screen {
      @include margin-auto;
    }
  }

  $active-button:'.product-cart__button--active';

  &__button-img {
    position: absolute;
    top: 8px;
    left: 7px;
    width: 14px;
    height: 14px;
    fill: var(--black-color);

    &--compare {
    }

    &--favorite {
    }

    &--basket {
      top: 12px;
      left: 10px;
      width: 26px;
      height: 26px;
      fill: var(--red-color);
    }

    #{$active-button} & {
      fill: var(--white-color);
    }
  }
}