section.delivery
    .container
        .delivery__inner
            .delivery__title Бесплатная доставка
            .delivery__subtitle при покупке от 20 000 Сом
            .delivery__img-box
                img(src="/src/blocks/delivery/assets/square-box-packaging-mockup-copy.png").delivery__img
            .delivery__instruction-title Сборка и отгрузка заказов в течение 1 рабочего дня
            .delivery__container-items
                .delivery__item
                    .delivery__item-icon
                        img(src="/src/images/icons/delivery-map.svg")
                    .delivery__item-text Вы можете забрать заказ самовывозом из любого из 2-х пунктов выдачи
                .delivery__item
                    .delivery__item-icon
                        img(src="/src/images/icons/delivery-box.svg")
                    .delivery__item-text Курьерская служба доставит ваш заказ по адресу от 2-х рабочих дней