.rise
    .container
        .title Подъем на этаж
        .rise__inner
            .rise__block
                .rise__text Минимальная стоимость (независимо от веса и количества этажей) – 100 сом.
                .rise__text Стоимость услуг по подъёму товара рассчитывается исходя из веса и габаритов товара, высоты подъема (количества этажей), наличия лифта, но в любом случае не может быть меньше минимальной стоимости подъёма товара.
                .rise__text При подъеме на грузовом лифте для расчета учитываются только первый и последний этажи.
                .rise__text Подъём товара осуществляется в прихожую квартиры или частного дома. Перемещение товара по квартире или частному дому не осуществляется.
                .rise__text Подъем крупногабаритного товара на этаж (крупногабаритный товар — единица товара объемом более 0.2 м. куб. или массой более 30 кг.)
                .rise__text - Подъем крупногабаритного товара на этаж осуществляется двумя способами – на грузовом лифте или вручную.
                .rise__text - Подъем крупногабаритного товара на этаж, с заносом в квартиру (офис), осуществляется только при условии, если товар в упаковке проходит по габаритам в дверной проем подъезда, грузовой лифт (услуга подъема на грузовом лифте), дверной проем квартиры, в противном случае крупногабаритные товары доставляются к подъезду, на лестничную площадку.
            .rise__image-block
                img(src="/src/blocks/rise/assets/img/rise.svg").rise__image