.partners.layout.preload__area
    .partners__nav
        .partners__nav-button.partners__nav-button--prev
            +iconSvg('arrow','partners__nav-button-icon')
        .partners__nav-button.partners__nav-button--next
            +iconSvg('arrow','partners__nav-button-icon')
    .partners__slider
        .partners__slider-item-wrapper
            .partners__slider-item
                img(data-src='/local/templates/stroygip/ts/images/partners-logo/total.svg').partners__slider-item-img.preload__item
        .partners__slider-item-wrapper
            .partners__slider-item
                img(data-src='/local/templates/stroygip/ts/images/partners-logo/karcher.svg').partners__slider-item-img.preload__item
        .partners__slider-item-wrapper
            .partners__slider-item
                img(data-src='/local/templates/stroygip/ts/images/partners-logo/makita.svg').partners__slider-item-img.preload__item
        .partners__slider-item-wrapper
            .partners__slider-item
                img(data-src='/local/templates/stroygip/ts/images/partners-logo/swiss.svg').partners__slider-item-img.preload__item
        .partners__slider-item-wrapper
            .partners__slider-item
                img(data-src='/local/templates/stroygip/ts/images/partners-logo/knauf.svg').partners__slider-item-img.preload__item
        .partners__slider-item-wrapper
            .partners__slider-item
                img(data-src='/local/templates/stroygip/ts/images/partners-logo/ariston.svg').partners__slider-item-img.preload__item
        .partners__slider-item-wrapper
            .partners__slider-item
                img(data-src='/local/templates/stroygip/ts/images/partners-logo/henkel.svg').partners__slider-item-img.preload__item
        .partners__slider-item-wrapper
            .partners__slider-item
                img(data-src='/local/templates/stroygip/ts/images/partners-logo/total.svg').partners__slider-item-img.preload__item
        .partners__slider-item-wrapper
            .partners__slider-item
                img(data-src='/local/templates/stroygip/ts/images/partners-logo/karcher.svg').partners__slider-item-img.preload__item
