mixin header-clear(title)
    .header-clear.layout.layout--small
        a(href='/').header-clear__logo
            img(src='/local/templates/stroygip/ts/images/logo/logo-black.svg').header-clear__logo-img
        .header-clear__title=title
