extends ../templates/main
include ../blocks/product-cart/product-cart
include ../blocks/checkbox/checkbox

block variables
    - var title = '2Прораба'

block content

    include ../blocks/menu/menu
    #main-group.preload
        include ../blocks/mobile-header/mobile-header
        include ../blocks/header/header


        section.section.section--gray
            .layout
                include ../blocks/breadcrumbs/breadcrumbs
                .static-page
                    .static-page__title Контакты
                    .static-page__contacts
                        .static-page__contacts-item
                            .static-page__contacts-item-img-wrapper
                                img(src='/local/templates/stroygip/ts/images/static-images/cont-1.png').static-page__contacts-item-img
                            .static-page__contacts-item-desc
                                .static-page__contacts-item-desc-title Отдел обработки интернет-заказов
                                .static-page__contacts-item-desc-items
                                    .static-page__contacts-item-desc-item
                                        +iconSvg('phone','static-page__contacts-item-desc-item-icon')
                                        .static-page__contacts-item-desc-item-text Тел. +996 (559) 95 07 25
                                    .static-page__contacts-item-desc-item
                                        +iconSvg('mail','static-page__contacts-item-desc-item-icon')
                                        .static-page__contacts-item-desc-item-text info@2proraba.kg
                        .static-page__contacts-item
                            .static-page__contacts-item-img-wrapper
                                img(src='/local/templates/stroygip/ts/images/static-images/cont-2.png').static-page__contacts-item-img
                            .static-page__contacts-item-desc
                                .static-page__contacts-item-desc-title Отдел корпоративных продаж
                                .static-page__contacts-item-desc-items
                                    .static-page__contacts-item-desc-item
                                        +iconSvg('phone','static-page__contacts-item-desc-item-icon')
                                        .static-page__contacts-item-desc-item-text Тел. +996 (559) 95 07 22
                                    .static-page__contacts-item-desc-item
                                        +iconSvg('phone','static-page__contacts-item-desc-item-icon')
                                        .static-page__contacts-item-desc-item-text Тел. +996 (559) 95 05 43
                                    .static-page__contacts-item-desc-item
                                        +iconSvg('phone','static-page__contacts-item-desc-item-icon')
                                        .static-page__contacts-item-desc-item-text Тел. +996 (312) 88 75 27
                                    .static-page__contacts-item-desc-item
                                        +iconSvg('mail','static-page__contacts-item-desc-item-icon')
                                        .static-page__contacts-item-desc-item-text corporate@2proraba.kg
                        .static-page__contacts-item
                            .static-page__contacts-item-img-wrapper
                                img(src='/local/templates/stroygip/ts/images/static-images/cont-3.png').static-page__contacts-item-img
                            .static-page__contacts-item-desc
                                .static-page__contacts-item-desc-title HR отдел (Отдел кадров)
                                .static-page__contacts-item-desc-items
                                    .static-page__contacts-item-desc-item
                                        +iconSvg('phone','static-page__contacts-item-desc-item-icon')
                                        .static-page__contacts-item-desc-item-text Тел. +996 (559) 95 01 57
                                    .static-page__contacts-item-desc-item
                                        +iconSvg('mail','static-page__contacts-item-desc-item-icon')
                                        .static-page__contacts-item-desc-item-text hr@2proraba.kg

        section.section
            .layout
                .static-page
                    .static-page__title Наши магазины
                    .static-page__stores
                        .static-page__stores-items

                            .static-page__stores-item.static-page__stores-item--active(data-store-target="1")
                                .static-page__stores-item-title Центральный гипермаркет
                                .static-page__stores-info
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('address','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text Адрес:
                                        .static-page__stores-info-item-value Центральный гипермаркет Ул. Льва Толстого 36к
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('time','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text Режим работы:
                                        .static-page__stores-info-item-value с 9-00 до 22-00
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('phone','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text Телефон:
                                        .static-page__stores-info-item-value +996 312 90 13 22
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('mail','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text E-mail:
                                        .static-page__stores-info-item-value info@2proraba.kg



                        .static-page__stores-maps
                            .static-page__stores-map.static-page__stores-map--active(data-store="1")
                                iframe.static-page__stores-map-item(frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0' src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2924.384662801626!2d74.6300948420945!3d42.864724532613835!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7ad1c7385fb%3A0x63e14854a143434!2z0JPQuNC_0LXRgNC80LDRgNC60LXRgiAyINCf0YDQvtGA0LDQsdCw!5e0!3m2!1sru!2skg!4v1613192992916!5m2!1sru!2skg')


                    .static-page__stores
                        .static-page__stores-items
                            .static-page__stores-item.static-page__stores-item--active(data-store-target="2")
                                .static-page__stores-item-title Филиал на ул.Карагула
                                .static-page__stores-info
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('address','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text Адрес:
                                        .static-page__stores-info-item-value ул.Карагула Акмата 70в
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('time','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text Режим работы:
                                        .static-page__stores-info-item-value с 9-00 до 21-00
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('phone','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text Телефон:
                                        .static-page__stores-info-item-value +996 312 88 75 26
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('mail','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text E-mail:
                                        .static-page__stores-info-item-value info@2proraba.kg



                        .static-page__stores-maps
                            .static-page__stores-map.static-page__stores-map--active(data-store="2")
                                iframe.static-page__stores-map-item(frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0' src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d813.5941675505628!2d74.6492829752028!3d42.801734989815486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0:0x8479d807a266df1c!2zMiDQn9Cg0J7QoNCQ0JHQkCDRhNC40LvQuNCw0Ls!5e0!3m2!1sru!2skg!4v1612357651709!5m2!1sru!2skg')


                    .static-page__stores
                        .static-page__stores-items
                            .static-page__stores-item.static-page__stores-item--active(data-store-target="3")
                                .static-page__stores-item-title Филиал в г.Ош
                                .static-page__stores-info
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('address','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text Адрес:
                                        .static-page__stores-info-item-value г.Ош, ул.Касымбекова 8г/1
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('time','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text Режим работы:
                                        .static-page__stores-info-item-value с 9-00 до 22-00
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('phone','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text Телефон:
                                        .static-page__stores-info-item-value +996 312 4 61 12
                                    .static-page__stores-info-item
                                        .static-page__stores-info-item-title
                                            +iconSvg('mail','static-page__stores-info-item-title-icon')
                                            .static-page__stores-info-item-title-text E-mail:
                                        .static-page__stores-info-item-value info@2proraba.kg






                        .static-page__stores-maps
                            .static-page__stores-map.static-page__stores-map--active(data-store="3")
                                iframe.static-page__stores-map-item(frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1462.1375443267984!2d74.50702941945492!3d42.86703759326771!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389ec92210bc090b:0x90d3bfc58f457cf9!2zMiDQn9Cg0J7QoNCQ0JHQkCDRg9C7LiDQkdCw0YDQv9GLINCQ0LvRi9C60YPQu9C-0LLQsCAzLzEw!5e0!3m2!1sru!2skg!4v1612357237677!5m2!1sru!2skg')


        include ../blocks/footer/footer