.bestsellers-item.bestsellers-item--grid-6-8-row-3-5.bestsellers-item--mobile-hidden
    .bestsellers-item__header
        a(href="#").bestsellers-item__name Гамак для отдыха "Krelax"
        .bestsellers-item__cost 4 812 <img src="/src/images/icons/combined-shape.svg"></img>
    .bestsellers-item__icons
        .bestsellers-item__icon-item
            .bestsellers-item__icon.bestsellers-item__icon--favorite
        .bestsellers-item__icon-item
            .bestsellers-item__icon.bestsellers-item__icon--comparison
    .bestsellers-item__characteristics 2500х1400 мм, синий
    .bestsellers-item__rating
        .bestsellers-item__star.active
        .bestsellers-item__star.active
        .bestsellers-item__star.active
        .bestsellers-item__star
        .bestsellers-item__star
    .bestsellers-item__button
        a(href="#").button В корзину
    .bestsellers-item__decor
    .bestsellers-item__img-box
        img(src="/src/blocks/bestsellers/assets/img/lounger.png").bestsellers-item__image