@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

$bestsellers-item-hover: '.bestsellers-item:hover';
.bestsellers-item{
  display: block;
  background: linear-gradient(to bottom, #506dd8, $blue);
  border-radius: 4px;
  padding: 16px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  &__header{
	display: flex;
	justify-content: space-between;
  }
  &__cost{
	@include flex-row-center;
	font-weight: 500;
	font-size: 21px;
	color: #2f3137;
	width: 112px;
	height: 40px;
	border-radius: 4px;
	background: rgba(#fff, 0.8);
	display: flex;
	align-items: center;
	img{
	  height: auto;
	  width: 11px!important;
	  margin-left: 8px;
	}
  }
  &::after{
	content: '';
	z-index: -2;
	display: block;
	background: url(assets/img/circle-blue-red.svg) no-repeat;
	left: 0;
	bottom: 2px;
	width: 100%;
	height: 69%;
	position: absolute;
  }
  &::before{
	z-index: -1;
	content: '';
	display: block;
	background: url(assets/img/circle-orange.svg) no-repeat;
	right: 14px;
	top: 71px;
	width: 31%;
	height: 26%;
	position: absolute;
  }
  &--grid-6-8-row-3-5{
	grid-column: 5/8;
	grid-row: 3/5;
	@media #{$tablet-big-screen}{
	  grid-column: 1/4;
	}
	@media #{$tablet-small-screen}{
	  grid-column: 1/3;
	}
  }
  &__name{
	font-size: 28px;
	font-weight: 500;
	color: #fff;
	@media #{$laptop-screen} {
	  font-size: 25px;
	}
  }
  &__img-box{
	position: absolute;
	right: 11%;
	top: 72px;
	z-index: -1;
  }
  &__image{
	width: 100%;
	height: auto;
	object-fit: contain;
  }
  &__decor{
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	&::after{
	  content: '';
	  display: block;
	  background: url(assets/img/rectangle-blue.svg) no-repeat;
	  background-size: contain;
	  width: 100%;
	  height: 100%;
	}
  }
  &__characteristics{
	font-size: 21px;
	color: #fff;
	margin: 10px 0 16px 0;
  }
  &__rating{
	display: flex;
  }
  &__star{
	&.active{
	  background: #fff;
	}
	margin-right: 8px;
	&:last-child{
	  margin-right: 0;
	}
	background: rgba(#fff, 0.2);
	width: 16px;
	height: 16px;
	mask: url(assets/img/star.svg);
	-webkit-mask: url(assets/img/star.svg);
	@include mask-contain-center;
	cursor: pointer;
  }
  &__icon-item{
	cursor: pointer;
	@include flex-row-center;
	width: 40px;
	height: 40px;
	background: #ecf2ff;
	border-radius: 100%;
	margin-bottom: 16px;
	&:last-child{
	  margin-bottom: 0;
	}
  }
  &__icons{
	position: absolute;
	z-index: 5;
	right: 16px;
	top: 65px;
	opacity: 0;
	#{$bestsellers-item-hover} & {
	  opacity: 1;
	}
  }
  &__button{
	width: 168px;
	position: absolute;
	top: 150px;
	z-index: 11;
	opacity: 0;
	#{$bestsellers-item-hover} & {
	  opacity: 1;
	}
  }
  &__icon{
	width: 24px;
	height: 24px;
	&--favorite{
	  background: url(assets/img/favorites.svg);
	}
	&--comparison{
	  background: url(assets/img/comparison-2.svg);
	}
  }
  &--mobile-hidden{
	@media #{$mobile-big-screen} {
	  display: none;
	}
  }
}
