.main-banner.layout.preload__area
    img(data-src='/images/examples/main-banner.jpg').main-banner__img.preload__item
    .main-banner__search
        +iconSvg('search','main-banner__search-icon')
        .placeholder
            input(placeholder='Поиск товара').input.input--search.placeholder__input
            .placeholder__item Поиск товара