.modal-region#modal-region
    .modal-region__title Ваш город Бишкек?
    .modal-region__buttons
        a(href="#").modal-region__button Да
        a(href="#").modal-region__button.modal-region__button--white Изменить