.department-contacts
    .container
        .title Контакты отдела по работе с партнерами
        .department-contacts__inner

            .department-contacts__image-box
                img(src="/src/blocks/department-contacts/assets/img/image-1.png").department-contacts__image

            .department-contacts__information
                .department-contacts__name Александр Иванов
                .department-contacts__position Менеджер по работе с партнерами

                .department-contacts__contacts
                    .department-contacts__tel.department-contacts__tel
                        p Тел. +996 (552) 90 13 22
                        p Тел. +996 (552) 90 13 22

                    a(href="mailto:info@2proraba.kg").department-contacts__mail
                        | info@2proraba.kg