main.catalog-category
    .container
        .breadcrumbs
            .breadcrumbs__inner
                a.breadcrumbs__link(href="#") Главная
                .breadcrumbs__separator
                a.breadcrumbs__link.active(href="#") О нас
        .about-company__inner
            .about-company__about
                .title.title--start.about-company__title Два прораба — крупнейший строительный гипермаркет в Кыргызстане
                .about-company__text Работаем с 2017 года, помогаем обустраивать ваши дома и дачи.
            .about-company__image-box
                img(src="/src/blocks/about-company/assets/img/grand.png").about-company__image