@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.static-page {

  &__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 30px;

    @include tablet-big-screen {
      font-size: 26px;
      margin-bottom: 20px;
      padding-top: 20px;
    }
  }


  &__info-block {
    position: relative;
    width: calc(100% - 300px);
    @include margin-auto;
    background: var(--white-color);
    border: 1px solid var(--light-gray-color);
    border-radius: 6px;
    padding: 30px;

    @include tablet-big-screen {
      width: 100%;
      padding: 20px;
    }
  }

  &__info-block-title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 10px;

    @include tablet-big-screen {
      font-size: 22px;
    }
  }

  &__info-block-desc {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 30px;
    align-items: center;

    @include tablet-big-screen {
      grid-template-columns: 1fr;
    }
  }

  &__info-block-desc-text {
    font-size: 19px;
    margin-bottom: 5px;
  }

  &__info-block-text-small {
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__info-block-desc-img-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;

    @include tablet-big-screen {
      display: none;
    }
  }

  &__info-block-desc-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__delivery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    @include tablet-big-screen {
      grid-template-columns: 1fr;
    }
  }

  &__delivery-item {
  }

  &__delivery-item-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
    padding-left: 40px;
  }

  &__delivery-block {
    margin-bottom: 30px;
  }

  &__delivery-block-title {
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 15px;


  }

  &__delivery-block-title-img {
    width: 25px;
    height: 25px;
    fill: var(--red-color);
    margin-bottom: 4px;
  }

  &__delivery-block-title-text {
    font-size: 16px;
    font-weight: 500;

    @include tablet-big-screen {
      font-size: 14px;
    }
  }

  &__delivery-block-list {
    padding-left: 40px;
    font-size: 16px;
  }

  &__delivery-block-list-item {
    position: relative;
    margin-bottom: 10px;

    @include tablet-big-screen {
      font-size: 12px;
    }

    &:after {
      @include pseudo-absolute;
      width: 4px;
      height: 4px;
      background: var(--red-color);
      border-radius: 50%;
      left: -14px;
      top: 10px;
    }
  }

  &__delivery-table {
  }

  &__delivery-table-row {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &:nth-of-type(odd) {
      background: var(--extra-light-gray-color);
    }

    &--header {
      background: var(--light-gray-color) !important;
    }

    @include tablet-big-screen {
      grid-template-columns: 3fr 1fr;
    }

  }

  $delivery-table-header: '.static-page__delivery-table-row--header';

  &__delivery-table-cell {
    padding: 10px 20px;
    font-size: 16px;

    #{$delivery-table-header} & {
      font-weight: 700;
    }

    @include tablet-big-screen {
      padding: 10px;
      font-size: 13px;
    }
  }

  &__delivery-table-cell {
  }

  &__payment {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    padding: 40px;

    @include tablet-big-screen {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 20px 0;
    }
  }

  &__payment-item {
  }

  &__payment-item-img-wrapper {
    width: 80px;
    height: 80px;
    @include margin-auto;
    border: 3px solid var(--red-color);
    @include flex-row-center;
    border-radius: 50%;
    margin-bottom: 15px;
  }

  &__payment-item-img {
    width: 100px;
    height: 100px;
  }

  &__payment-item-title {
    font-size: 18px;
    text-align: center;

    @include tablet-big-screen {
      font-size: 12px;
    }
  }

}