@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";


.recommends{
  position: relative;
  overflow: hidden;
  background: #fff;
  padding: 56px 0 33px;
  border-bottom: 1px solid rgba(65, 90, 183, 0.15);
  @media #{$mobile-big-screen}{
    padding: 25px 0;
  }
  &__title{
    margin-bottom: 26px !important;
    &--small{
      font-size: 28px !important;
      font-weight: 500;
      margin-bottom: 10px !important;
      @media #{$laptop-screen}{
        margin-bottom: 30px !important;
      }
      @media #{$mobile-big-screen}{
        font-size: 21px !important;
        margin-bottom: 15px !important;
      }
    }
  }

}
