.main-product-carousel {
    .owl-dots {
        flex-shrink: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);

        @media #{$mobile-big-screen} {
            bottom: 15px;
        }
    }

    .owl-dot {
        flex-shrink: 0;
        margin-right: 15px;
        width: 9.6px;
        border-radius: 100%;
        height: 9.6px;
        background-color: hsla(0, 0%, 97.3%, .3) !important
    }

    .owl-dot.active {
        width: 12.5px;
        height: 12.5px;
        background-color: #f8f8f8 !important
    }

    .owl-dot:last-child {
        margin-right: 0
    }

    .owl-nav {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 20px;

        @media #{$tablet-big-screen} {
            padding: 0 10px
        }
    }

    .owl-next,
    .owl-prev {
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: 50% !important;
        position: relative;
        cursor: pointer;
        width: 56px;
        height: 72px;
        border-radius: 4px;
        background-color: hsla(0, 0%, 97.3%, .1) !important;

        @media #{$tablet-big-screen} {
            width: 35px;
            height: 50px
        }
    }


    .owl-prev:before {
        content: "";
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: 50% !important;
        background: url($assetsPath + '/main-carousel/arrow-white-left.svg') no-repeat;
        width: 15px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);

        @media #{$tablet-big-screen} {
            background-size: 70% !important;
        }
    }


    .owl-next:before {
        content: "";
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: 50% !important;
        background: url($assetsPath + '/main-carousel/arrow-white-right.svg') no-repeat;
        width: 15px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);

        @media #{$tablet-big-screen} {
            background-size: 70% !important;
        }
    }
}

.main-owl-carousel {
    .owl-item .main-owl-carousel-slide {
        width: 100%;
        background-size: 100% !important;
    }
}

.main-owl-carousel-slide {
    width: 100%;
    // 568 / 1920
    padding-bottom: 29.58%;

    @media #{$mobile-big-screen} {
        display: none;
    }
}

.main-owl-carousel-mobile-slide {
    display: none;
    // 568 / 375
    padding-bottom: 151.466%;
    background-size: 100%;

    @media #{$mobile-big-screen} {
        display: block;
    }
}
