@import "../../libs/scss/mixins";
@import "../../../blocks/base/variables";
@import "../../../blocks/base/media-queries";

.thanks{
  display: none;
  position: relative;
  padding: 72px 15px 64px 15px;
  width: 752px;
  border-radius: 4px;
  border: 1px solid rgba(169, 177, 197, 0.37);
  background-color: $white;
  text-align: center;
  margin: 0 auto;
  @media #{$tablet-small-screen}{
	width: 650px;
  }
  @media #{$mobile-big-screen}{
	width: 90%;
	min-width: 300px;
  }
  &__title{
	font-size: 28px;
	font-weight: 500;
	color: $black;
	margin-bottom: 32px;
	@media #{$tablet-small-screen}{
	  font-size: 25px;
	}
	@media #{$mobile-big-screen}{
	  font-size: 23px;
	  margin-bottom: 25px;
	}
  }
  &__text{
	font-size: 14px;
	color: $black;
	line-height: 1.71;
  }
  &__close{
	position: absolute;
	right: 24px;
	top: 24px;
	cursor: pointer;
	@media #{$mobile-big-screen}{
	  right: 15px;
	  top: 15px;
	}
  }
  &__image-box{
	width: 64px;
	height: auto;
	object-fit: contain;
	margin: 0 auto 40px auto;
	@media #{$mobile-big-screen}{
	  width: 55px;
	  margin-bottom: 30px;
	}
  }
}