a.button.button--red#buttonThanks Спасибо

.modal-overlay
.modal-position
    .thanks
        .thanks__close
            img(src="/src/blocks/modals/thanks/assets/img/close.svg")
        .thanks__image-box
            img(src="/src/blocks/modals/thanks/assets/img/order.svg")
        .thanks__title Спасибо за заказ!
        .thanks__text
            | Ваш заказ в обработке. <br>
            | В течение часа мы свяжемся с вами для его подтверждения.