@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.title {
  @include flex-row-center;
  padding: 35px 0;
  padding-bottom: 20px;

  @include mobile-big-screen {
    @include flex-column-center;
  }

  &__text {
    font-size: 28px;
    font-weight: 700;
    margin-right: 15px;

    @include mobile-big-screen {
      text-align: center;
    }
  }

  &__desc {
    border: 2px solid var(--red-color);
    border-radius: 10px;
    color: var(--red-color);
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 700;

    @include mobile-big-screen {
      margin-top: 10px;
    }
  }
}