.catalog-menu__submenu-box
    .catalog-menu__submenu-item
        a(href='#').catalog-menu__submenu-item-link Измерительный инструмент
        .catalog-menu__submenu-item-button
        .catalog-menu__submenu-inner
            a(href='#').catalog-menu__submenu-inner-link Гидроуровни
            a(href='#').catalog-menu__submenu-inner-link Дальномеры/Измерительные колеса
            a(href='#').catalog-menu__submenu-inner-link Измерительные приборы
            a(href='#').catalog-menu__submenu-inner-link Рулетки
            a(href='#').catalog-menu__submenu-inner-link Угольники/Линейки/Штангенциркули
            a(href='#').catalog-menu__submenu-inner-link Уровни

    .catalog-menu__submenu-item
        a(href='#').catalog-menu__submenu-item-link Машины, станки, оборудование
        .catalog-menu__submenu-item-button
        .catalog-menu__submenu-inner
            a(href='#').catalog-menu__submenu-inner-link Генераторы
            a(href='#').catalog-menu__submenu-inner-link Компрессоры
            a(href='#').catalog-menu__submenu-inner-link Станки для резки плитки и камня

    .catalog-menu__submenu-item
        a(href='#').catalog-menu__submenu-item-link Отделочный инструмент
        .catalog-menu__submenu-item-button
        .catalog-menu__submenu-inner
            a(href='#').catalog-menu__submenu-inner-link Инструмент для затирки швов/Шпатели/Щетки
            a(href='#').catalog-menu__submenu-inner-link Миксеры для смесей и красок
            a(href='#').catalog-menu__submenu-inner-link Отвесы/Правила строительные/Терки
            a(href='#').catalog-menu__submenu-inner-link Пистолет для пены и герметика

    .catalog-menu__submenu-item
        a(href='#').catalog-menu__submenu-item-link Прочие инструменты
        .catalog-menu__submenu-item-button
        .catalog-menu__submenu-inner
            a(href='#').catalog-menu__submenu-inner-link Клеевые пистолеты/Стержни
            a(href='#').catalog-menu__submenu-inner-link Очки защитные
            a(href='#').catalog-menu__submenu-inner-link Паяльные лампы
            a(href='#').catalog-menu__submenu-inner-link Степлеры
            a(href='#').catalog-menu__submenu-inner-link Ящики для инструментов/Органайзеры

    .catalog-menu__submenu-item
        a(href='#').catalog-menu__submenu-item-link Режущий инструмент
        .catalog-menu__submenu-item-button
        .catalog-menu__submenu-inner
            a(href='#').catalog-menu__submenu-inner-link Буры и насадки для перфоратора
            a(href='#').catalog-menu__submenu-inner-link Коронки
            a(href='#').catalog-menu__submenu-inner-link Круги и диски
            a(href='#').catalog-menu__submenu-inner-link Ножницы
            a(href='#').catalog-menu__submenu-inner-link Резьбонарезной инструмент
            a(href='#').catalog-menu__submenu-inner-link Сверла
            a(href='#').catalog-menu__submenu-inner-link Скребки/Стеклорезы/Плиткорезы
            a(href='#').catalog-menu__submenu-inner-link Ножницы


    .catalog-menu__submenu-item
        a(href='#').catalog-menu__submenu-item-link Пневмоинструмент
        .catalog-menu__submenu-item-button
        .catalog-menu__submenu-inner
            a(href='#').catalog-menu__submenu-inner-link Инструмент для затирки швов/Шпатели/Щетки
            a(href='#').catalog-menu__submenu-inner-link Миксеры для смесей и красок
            a(href='#').catalog-menu__submenu-inner-link Отвесы/Правила строительные/Терки
            a(href='#').catalog-menu__submenu-inner-link Пистолет для пены и герметика

    .catalog-menu__submenu-item
        a(href='#').catalog-menu__submenu-item-link Сварочное оборудование
        .catalog-menu__submenu-item-button
        .catalog-menu__submenu-inner
            a(href='#').catalog-menu__submenu-inner-link Инверторы сварочные
            a(href='#').catalog-menu__submenu-inner-link Электроды и сварная проволока

    .catalog-menu__submenu-item
        a(href='#').catalog-menu__submenu-item-link Слесарный инструмент
        .catalog-menu__submenu-item-button
        .catalog-menu__submenu-inner
            a(href='#').catalog-menu__submenu-inner-link Биты/Головки сменные/Воротки/Надфили
            a(href='#').catalog-menu__submenu-inner-link Бокорезы/Кусачки/Зажимы/Просекатели
            a(href='#').catalog-menu__submenu-inner-link Ключи и наборы ключей
            a(href='#').catalog-menu__submenu-inner-link Молотки/Кувалды/Зубила
            a(href='#').catalog-menu__submenu-inner-link Наборы инструментов
            a(href='#').catalog-menu__submenu-inner-link Плоскогубцы/Длинногубцы/Отвертки

    .catalog-menu__submenu-item
        a(href='#').catalog-menu__submenu-item-link Столярный инструмент
        .catalog-menu__submenu-item-button
        .catalog-menu__submenu-inner
            a(href='#').catalog-menu__submenu-inner-link Гвоздодеры/Кирки
            a(href='#').catalog-menu__submenu-inner-link Ножовки/Пилы/Лобзики
            a(href='#').catalog-menu__submenu-inner-link Стамески/Струбцины
            a(href='#').catalog-menu__submenu-inner-link Тиски/Стусла





