.catalog-menu
    .catalog-menu__box.container
        .catalog-menu__item.catalog-menu__item--open
            a(href='#').catalog-menu__item-link Сад и огород
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/flowers.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Строительные материалы
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/materials.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Декор для дома (краски, обои)
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/decor.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Электроинструмент
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/instruments.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Инструменты
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/tools-box.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Плитка и напольные покрытия
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/parket.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Сантехника и водопровод
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/bathroom.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Электротовары
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/flowers.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Электроинструменты
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/flowers.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Освещение
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/flowers.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Изделия из дерева
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/flowers.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Изделия из металла
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/flowers.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Посуда и кухонная утварь
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/flowers.png')
                include catalog-menu__submenu-box

        .catalog-menu__item
            a(href='#').catalog-menu__item-link Офис и канцтовары
            .catalog-menu__item-button
            .catalog-menu__submenu
                img.catalog-menu__submenu-img(src='/src/blocks/catalog-menu/asset/img/flowers.png')
                include catalog-menu__submenu-box