section.product-description
    .container
        .product-description__grid
            .product-description__container
                .product-description__tabs
                    .product-description__tab.product-description__tab--active Описание
                    .product-description__tab Характеристики
                    .product-description__tab Отзывы
                .product-description__box
                    .product-description__content-box.product-description__content-box--active
                        .product-description__description-title Эксклюзивные люстры и светильники Vitaluce
                        .product-description__description-text Эксклюзивные люстры и светильники Vitaluce гармонично сочетаются с любым интерьером и наполняют дом неповторимой атмосферой комфорта и уюта. Продукция Vitaluce уверенно занимает лидирующее место на рынке декоративного освещения, благодаря высокому качеству, интересному дизайну и приемлемым ценам, пользуется популярностью у потребителей в России, странах СНГ и Восточной Европы. Покупателям предлагается как уже полюбившиеся коллекции светильников и люстр, так и вновь разработанные с учетом новейших тенденций и направлений дизайна в области декоративного света, решенные в разных стилях и богатой цветовой гамме. Широкая линейка продукции Vitaluce позволяет каждому покупателю найти для себя оптимальную модель.
                    .product-description__content-box
                        .product-description__description-title Эксклюзивные люстры и светильники Vitaluce2
                        .product-description__description-text Эксклюзивные люстры и светильники Vitaluce гармонично сочетаются с любым интерьером и наполняют дом неповторимой атмосферой комфорта и уюта. Продукция Vitaluce уверенно занимает лидирующее место на рынке декоративного освещения, благодаря высокому качеству, интересному дизайну и приемлемым ценам, пользуется популярностью у потребителей в России, странах СНГ и Восточной Европы. Покупателям предлагается как уже полюбившиеся коллекции светильников и люстр, так и вновь разработанные с учетом новейших тенденций и направлений дизайна в области декоративного света, решенные в разных стилях и богатой цветовой гамме. Широкая линейка продукции Vitaluce позволяет каждому покупателю найти для себя оптимальную модель.
                    .product-description__content-box
                        .product-description__description-title Эксклюзивные люстры и светильники Vitaluce3
                        .product-description__description-text Эксклюзивные люстры и светильники Vitaluce гармонично сочетаются с любым интерьером и наполняют дом неповторимой атмосферой комфорта и уюта. Продукция Vitaluce уверенно занимает лидирующее место на рынке декоративного освещения, благодаря высокому качеству, интересному дизайну и приемлемым ценам, пользуется популярностью у потребителей в России, странах СНГ и Восточной Европы. Покупателям предлагается как уже полюбившиеся коллекции светильников и люстр, так и вновь разработанные с учетом новейших тенденций и направлений дизайна в области декоративного света, решенные в разных стилях и богатой цветовой гамме. Широкая линейка продукции Vitaluce позволяет каждому покупателю найти для себя оптимальную модель.


            .product-description__container
                .product-description__tabs
                    .product-description__tab.product-description__tab--active По городу
                    .product-description__tab Область
                .product-description__box
                    .product-description__content-box.product-description__content-box--active
                        .product-description__input-block
                            label.product-description__label(for="input-city") Ваш город
                            input.product-description__input(type="text" id="input-city")
                            .product-description__input-reset
                                img(src="/src/images/icons/reset.svg")
                        .product-description__title-medium.product-description__pickup-title Самовывоз из магазинов:
                        .product-description__link-box
                            a(href="#").product-description__pickup-link
                                .product-description__pickup-icon
                                | Ул. Адмирала, дом 10к2
                            a(href="#").product-description__pickup-link
                                .product-description__pickup-icon
                                | Ул. Адмирала, дом 10к2
                        .product-description__title-medium.product-description__title-delivery
                            | Доставка по городу:
                            .product-description__text 1-3 дня, 250 com
                        .product-description__title-medium
                            | График доставки:
                            .product-description__text ежедневно с 09:00 до 21:00

                        a(href="#").product-description__pickup-link.product-description__delivery-link
                            .product-description__pickup-icon.product-description__pickup-icon--delivery-icon
                            | Условия доставки
                    .product-description__content-box
                        .product-description__input-block
                            label.product-description__label(for="input-city2") Ваш город
                            input.product-description__input(type="text" id="input-city2")
                            .product-description__input-reset
                                img(src="/src/images/icons/reset.svg")
                        .product-description__title-medium.product-description__pickup-title 2 Самовывоз из магазинов:
                        .product-description__link-box
                            a(href="#").product-description__pickup-link
                                .product-description__pickup-icon
                                | Ул. Адмирала, дом 10к2
                            a(href="#").product-description__pickup-link
                                .product-description__pickup-icon
                                | Ул. Адмирала, дом 10к2
                        .product-description__title-medium.product-description__title-delivery
                            | Доставка по городу:
                            .product-description__text 1-3 дня, 250 com
                        .product-description__title-medium
                            | График доставки:
                            .product-description__text ежедневно с 09:00 до 21:00

                        a(href="#").product-description__pickup-link.product-description__delivery-link
                            .product-description__pickup-icon.product-description__pickup-icon--delivery-icon
                            | Условия доставки

