section.best-price
    .container
        .title-box
            .title-box__title Лучшие цены недели
            .title-box__notification
                img(src="/src/blocks/best-price/assets/img/stopwatch.svg")
                | Товар ограничен!
        .best-price__carousel.owl-carousel.owl-theme
            .best-price__grid
                .best-price__buy-now.best-price__buy-now--mobile-hidden
                    a(href="#").best-price__title Купи сейчас
                    a(href="#").best-price__name-product Газонокосилка Bosch </br> Rotak 32
                    .best-price__cost 4 812 <span>com</span>
                    .best-price__button
                        a.button(href="#") В корзину
                    .best-price__img
                        img(src="/src/blocks/best-price/assets/img/pngwing.png")
                    .best-price__item-icons
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--favourite
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--comparison

                .best-price__item
                    .best-price__item-image-box
                        img(src="/src/blocks/best-price/assets/img/group-19.png").best-price__item-image
                    .best-price__item-icons
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--favourite
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--comparison
                        .best-price__item-select.best-price__item-select--hidden
                            .best-price__item-icon.best-price__item-icon--add-cart
                    .best-price__item-discount-percent -25%
                    .best-price__item-button
                        a.button.button--red(href="#") В корзину
                    .best-price__item-container
                        .best-price__item-discount 4 812 com
                        .best-price__item-cost 4 812 <span>com</span>
                    a(href="#").best-price__item-name GARDENA Комплект садовых инструментов

                .best-price__item
                    .best-price__item-image
                        img(src="/src/blocks/best-price/assets/img/group-20.png").best-price__item-image
                    .best-price__item-icons
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--favourite
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--comparison
                        .best-price__item-select.best-price__item-select--hidden
                            .best-price__item-icon.best-price__item-icon--add-cart
                    .best-price__item-discount-percent -25%
                    .best-price__item-button
                        a.button.button--red(href="#") В корзину
                    .best-price__item-container
                        .best-price__item-discount 4 812 <span>com</span>
                        .best-price__item-cost 4 812 <span>com</span>
                    a(href="#").best-price__item-name GARDENA Комплект садовых инструментов

                .best-price__item
                    .best-price__item-image
                        img(src="/src/blocks/best-price/assets/img/bitmap.png").best-price__item-image
                    .best-price__item-icons
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--favourite
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--comparison
                        .best-price__item-select.best-price__item-select--hidden
                            .best-price__item-icon.best-price__item-icon--add-cart
                    .best-price__item-discount-percent -25%
                    .best-price__item-button
                        a.button.button--red(href="#") В корзину
                    .best-price__item-container
                        .best-price__item-discount 4 812 <span>com</span>
                        .best-price__item-cost 4 812 <span>com</span>
                    a(href="#").best-price__item-name GARDENA Комплект садовых инструментов





            .best-price__grid
                .best-price__buy-now.best-price__buy-now--mobile-hidden
                    a(href="#").best-price__title Купи сейчас
                    a(href="#").best-price__name-product Газонокосилка Bosch </br> Rotak 32
                    .best-price__cost 4 812 <span>com</span>
                    .best-price__button
                        a.button(href="#") В корзину
                    .best-price__img
                        img(src="/src/blocks/best-price/assets/img/pngwing.png")
                    .best-price__item-icons
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--favourite
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--comparison
                        .best-price__item-select.best-price__item-select--hidden
                            .best-price__item-icon.best-price__item-icon--add-cart


                .best-price__item
                    .best-price__item-image-box
                        img(src="/src/blocks/best-price/assets/img/group-19.png").best-price__item-image
                    .best-price__item-icons
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--favourite
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--comparison
                        .best-price__item-select.best-price__item-select--hidden
                            .best-price__item-icon.best-price__item-icon--add-cart
                    .best-price__item-discount-percent -25%
                    .best-price__item-button
                        a.button.button--red(href="#") В корзину
                    .best-price__item-container
                        .best-price__item-discount 4 812 com
                        .best-price__item-cost 4 812 <span>com</span>
                    a(href="#").best-price__item-name GARDENA Комплект садовых инструментов

                .best-price__item
                    .best-price__item-image
                        img(src="/src/blocks/best-price/assets/img/group-20.png").best-price__item-image
                    .best-price__item-icons
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--favourite
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--comparison
                        .best-price__item-select.best-price__item-select--hidden
                            .best-price__item-icon.best-price__item-icon--add-cart
                    .best-price__item-discount-percent -25%
                    .best-price__item-button
                        a.button.button--red(href="#") В корзину
                    .best-price__item-container
                        .best-price__item-discount 4 812 <span>com</span>
                        .best-price__item-cost 4 812 <span>com</span>
                    a(href="#").best-price__item-name GARDENA Комплект садовых инструментов

                .best-price__item
                    .best-price__item-image
                        img(src="/src/blocks/best-price/assets/img/bitmap.png").best-price__item-image
                    .best-price__item-icons
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--favourite
                        .best-price__item-select
                            .best-price__item-icon.best-price__item-icon--comparison
                        .best-price__item-select.best-price__item-select--hidden
                            .best-price__item-icon.best-price__item-icon--add-cart
                    .best-price__item-discount-percent -25%
                    .best-price__item-button
                        a.button.button--red(href="#") В корзину
                    .best-price__item-container
                        .best-price__item-discount 4 812 <span>com</span>
                        .best-price__item-cost 4 812 <span>com</span>
                    a(href="#").best-price__item-name GARDENA Комплект садовых инструментов










