footer.footer
    .layout.footer__block
        .footer__company
            a(href='#').footer__company-logo
                img(src='/images/logo/logo-white.svg').footer__company-logo
            .footer__social
                .footer__social-title Мы в социальных сетях
                .footer__social-items
                    a(href='#').footer__social-item
                        +iconSvg('fb','footer__social-item-icon')
                    a(href='#').footer__social-item
                        +iconSvg('it','footer__social-item-icon')
                    a(href='#').footer__social-item
                        +iconSvg('tt','footer__social-item-icon')

            .footer__copyright
                .footer__copyright-text 2прораба 2021
                .footer__copyright-text Все права защищены

        .footer__menu
            .footer__menu-main
                a(href='#').footer__menu-link Контакты
                a(href='#').footer__menu-link О компании
                a(href='#').footer__menu-link Доставка и оплата
                a(href='#').footer__menu-link Услуги
                a(href='#').footer__menu-link Вакансии
                a(href='#').footer__menu-link Сотрудничество
                a(href='#').footer__menu-link.footer__menu-link--small Политика конфиденциальности
                a(href='#').footer__menu-link.footer__menu-link--small Договор оферты
            .footer__menu-list
                a(href='#').footer__menu-link Сад и огород
                a(href='#').footer__menu-link Стройматериалы
                a(href='#').footer__menu-link Водоснабжение
                a(href='#').footer__menu-link Электротовары
                a(href='#').footer__menu-link Напольные покрытия
                a(href='#').footer__menu-link Освещение
                a(href='#').footer__menu-link Краски
                a(href='#').footer__menu-link Инструменты
                a(href='#').footer__menu-link Сантехника
                a(href='#').footer__menu-link Декор
                a(href='#').footer__menu-link Столярные изделия
                a(href='#').footer__menu-link Хранение
            .footer__menu-contacts
                .footer__menu-contacts-item
                    .footer__menu-contacts-title Контакты
                    a(href='tel:+996312950725').footer__menu-contacts-phone +996 (312) 950 725
                    a(href='tel:+996312950725').footer__menu-contacts-phone +996 (312) 950 725
                .footer__menu-contacts-item
                    .footer__menu-contacts-title Мы принимаем
                    .footer__menu-contacts-payments
                        img(src='/images/icons/visa.svg').footer__menu-contacts-payments-img.footer__menu-contacts-payments-img--visa
                        img(src='/images/icons/mastercard.svg').footer__menu-contacts-payments-img.footer__menu-contacts-payments-img--mastercard