.goods-services
    .container
        .title Вы можете оплатить товары и услуги:
        .goods-services__inner
            .goods-services__item
                .goods-services__item-icon
                    img(src="/src/blocks/goods-services/assets/img/cashier.svg")
                .goods-services__item-title Наличными в кассе магазина
            .goods-services__item
                .goods-services__item-icon
                    img(src="/src/blocks/goods-services/assets/img/courier.svg")
                .goods-services__item-title Наличными курьеру при получении заказа
            .goods-services__item
                .goods-services__item-icon
                    img(src="/src/blocks/goods-services/assets/img/card.svg")
                .goods-services__item-title Банковской картой на сайте
            .goods-services__item
                .goods-services__item-icon
                    img(src="/src/blocks/goods-services/assets/img/transfer.svg")
                .goods-services__item-title Перевести деньги на наш расчётный счет