.our-shops
    .our-shops__row
        .our-shops__info
            .our-shops__inner
                .title.title--start Наши магазины:
                .our-shops__information
                    .our-shops__title
                        .our-shops__title-icon.our-shops__title-icon--address
                        | Адреса:
                    .our-shops__text г. Бишкек ул.Льва Толстого 36к
                    .our-shops__text г. Бишкек ул.Льва Толстого 36к

                .our-shops__information
                    .our-shops__title
                        .our-shops__title-icon.our-shops__title-icon--tel
                    .our-shops__text +996 (559) 95 03 10
                    .our-shops__text +996 (552) 90 13 22  Звонки/WhatsApp
                    .our-shops__text +996 (559) 95 07 25  Звонки/WhatsApp

                .our-shops__information
                    .our-shops__title
                        .our-shops__title-icon.our-shops__title-icon--clock
                        | Режим работы:
                    .our-shops__text г. Бишкек ул.Льва Толстого 36к

                .our-shops__information
                    .our-shops__title
                        .our-shops__title-icon.our-shops__title-icon--mail
                        | E-mail:
                    .our-shops__text
                        a(href="mailto:info@2proraba.kg").link info@2proraba.kg


        iframe.our-shops__map( frameborder="0", style="border:0;", allowfullscreen="", aria-hidden="false" tabindex="0", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d731.0876336637657!2d74.6303765618284!3d42.865444973123864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7ad1c7385fb%3A0x63e14854a143434!2z0JPQuNC_0LXRgNC80LDRgNC60LXRgiAyINCf0YDQvtGA0LDQsdCw!5e0!3m2!1sru!2sru!4v1598554519372!5m2!1sru!2sru")