extends ../templates/main

block variables
    - var title = 'О компании'

block content

    include ../blocks/about-company/about-company
    include ../blocks/improvement-service/improvement-service_about-page
    include ../blocks/watch-video/watch-video
    include ../blocks/for-you/for-you
    include ../blocks/cooperation/cooperation_company
    include ../blocks/find-us/find-us
    include  ../blocks/best-product/best-product_about
    include  ../blocks/requisites/requisites
    include ../blocks/subscribe-mailing/subscribe-mailing
