extends ../templates/main

block variables
    - var title = 'Подтверждение заказа'

block content

    include ../blocks/basket-products/basket-products_confirmation
    include ../blocks/subscribe-mailing/subscribe-mailing