extends ../templates/main

block variables
    - var title = 'Сравнение товаров'

block content

    include ../blocks/favorites/favorites_comparison
    include ../blocks/subscribe-mailing/subscribe-mailing