extends ../templates/main

block variables
    - var title = 'Права потребителей'


block content

    include ../blocks/consumer-rights/consumer-rights
    include ../blocks/clearance-problem/clearance-problem_have-questions
    include ../blocks/subscribe-mailing/subscribe-mailing