extends ../templates/main

block variables
    - var title = 'Корпоративным клиентам'


block content

    include ../blocks/special-conditions/special-conditions
    include ../blocks/watch-video/watch-video
    include ../blocks/special-abilities/special-abilities
    include ../blocks/payment-features/payment-features
    include ../blocks/delivery-features/delivery-features
    include ../blocks/find-us/find-us_more
    include ../blocks/subscribe-mailing/subscribe-mailing