extends ../templates/main

block variables
    - var title = 'Главная страница'

block content

    include ../blocks/main-carousel/main-product
    include ../blocks/shop-news/shop-news
    include ../blocks/benefit/benefit
    include ../blocks/best-price/best-price
    include ../blocks/bestsellers/bestsellers
    include ../blocks/cooperation/cooperation
    include ../blocks/choice-buyers/choice-buyers
    include ../blocks/find-us/find-us
    include ../blocks/best-product/best-product
    include ../blocks/delivery/delivery
    include ../blocks/improvement-service/improvement-service
    include ../blocks/clearance-problem/clearance-problem
    include ../blocks/read-blogs/read-blogs
    include ../blocks/subscribe-mailing/subscribe-mailing
    include ../blocks/modals/modal-region/modals-region
    include ../blocks/modals/modal-city/modal-city
    include ../blocks/overlay/overlay
