extends ../templates/main

block variables
    - var title = 'Личный кабинет'

block content
    include ../blocks/personal-area/personal-area
    include ../blocks/recently-viewed/recently-viewed-white
    include ../blocks/subscribe-mailing/subscribe-mailing