extends ../templates/main

block variables
    - var title = 'Бонусы'

block content
    include ../blocks/personal-area/personal-area_bonuses
    include ../blocks/subscribe-mailing/subscribe-mailing