extends ../templates/main

block variables
    - var title = 'Программа лояльности'

block content

    include ../blocks/loyalty-program/loyalty-program
    include ../blocks/subscribe-mailing/subscribe-mailing