extends ../templates/main

block variables
    - var title = 'Акции и спецпредложения'

block content

    include ../blocks/stock/stock_inside
    include ../blocks/stock/stock_others
    include ../blocks/subscribe-mailing/subscribe-mailing