extends ../templates/main

block variables
    - var title = 'Вакансии'

block content

    include ../blocks/vacancies/vacancies
    include ../blocks/wait-resume/wait-resume
    include ../blocks/subscribe-mailing/subscribe-mailing