.news
    .container
        .breadcrumbs
            .breadcrumbs__inner
                a.breadcrumbs__link(href="#") Главная
                .breadcrumbs__separator
                a.breadcrumbs__link(href="#") Новости
                .breadcrumbs__separator
                a.breadcrumbs__link(href="#") Лайфхаки
                .breadcrumbs__separator
                a.breadcrumbs__link.active(href="#") Как клеить обои
        .title Новости
        .news__inner
            .news__tabs
                .news__tab  Свежее
                .news__tab.news__tab--active  Лайфхаки
                .news__tab  Новинки
                .news__tab  Обзоры
                .news__tab  Интересное
                .news__tab  Тенденции
            .news__inside
                a(href="#").news__back
                    .news__back-arrow
                    | Назад
                .news__inside-inner
                    .news__post-date 27.05.2020
                    .news__post-title Как выбирать и научиться клеить обои
                    .news__post-image-block
                        img.news__post-image(src="/src/blocks/news/assets/img/post.png")
                    .news__post-paragraph 1. Подготовка стен
                    .news__post-description
                        | Во-первых, разрешите Вас поздравить! Как с чем? С тем, что если вы интересуетесь вопросом поклейки обоев, значит самая грязная, тяжелая работа в ремонте уже пройдена. И вы ее сделали!!! Сотни километров намотанные в походах по магазинам, в поисках обоев, уже позади. И вот они, самые красивые в мире, смотанные в тугие рулончики, лежат аккуратно у стены! <br>
                        | Но не спешите, это у вас все готово, а кому то нужно только переклеить обои, не затрагивая всего остального. Поэтому  начинаем процесс с того, что все старые обои снимаем. Для этого аккуратно отрываем их со стены, если клей, на котором они держаться слабенький – работа пойдет как по маслу, но если обои приклеены хорошо, придется потрудиться.
                    .news__post-paragraph 2. Красиво клеим обои по прямой стене в любой комнате квартиры
                    .news__post-description
                        | Во-первых, разрешите Вас поздравить! Как с чем? С тем, что если вы интересуетесь вопросом поклейки обоев, значит самая грязная, тяжелая работа в ремонте уже пройдена. И вы ее сделали!!! Сотни километров намотанные в походах по магазинам, в поисках обоев, уже позади. И вот они, самые красивые в мире, смотанные в тугие рулончики, лежат аккуратно у стены! <br>
                        | Но не спешите, это у вас все готово, а кому то нужно только переклеить обои, не затрагивая всего остального. Поэтому  начинаем процесс с того, что все старые обои снимаем. Для этого аккуратно отрываем их со стены, если клей, на котором они держаться слабенький – работа пойдет как по маслу, но если обои приклеены хорошо, придется потрудиться.
                    .news__post-preview
                        img.news__post-preview-img(src="/src/blocks/news/assets/img/post-2.png")
                    .news__post-paragraph 3. Закрываем все окна и двери, для предотвращения образования сквозняков
                    .news__post-description
                        | Во-первых, разрешите Вас поздравить! Как с чем? С тем, что если вы интересуетесь вопросом поклейки обоев, значит самая грязная, тяжелая работа в ремонте уже пройдена. И вы ее сделали!!! Сотни километров намотанные в походах по магазинам, в поисках обоев, уже позади. И вот они, самые красивые в мире, смотанные в тугие рулончики, лежат аккуратно у стены! <br>
                        | Но не спешите, это у вас все готово, а кому то нужно только переклеить обои, не затрагивая всего остального. Поэтому  начинаем процесс с того, что все старые обои снимаем. Для этого аккуратно отрываем их со стены, если клей, на котором они держаться слабенький – работа пойдет как по маслу, но если обои приклеены хорошо, придется потрудиться.

                    .news__carousel-box
                        #owl-slider.owl-carousel.owl-carousel-style
                            .news__carousel-item
                                img(src="/src/blocks/news/assets/test/1.jpg")
                            .news__carousel-item
                                img(src="/src/blocks/news/assets/test/2.jpg")
                            .news__carousel-item
                                img(src="/src/blocks/news/assets/test/3.jpg")
                            .news__carousel-item
                                img(src="/src/blocks/news/assets/test/4.jpeg")

                        #owl-carousel.owl-carousel
                            .news__carousel-nav
                                img(src="/src/blocks/news/assets/test/1.jpg")
                            .news__carousel-nav
                                img(src="/src/blocks/news/assets/test/2.jpg")
                            .news__carousel-nav
                                img(src="/src/blocks/news/assets/test/3.jpg")
                            .news__carousel-nav
                                img(src="/src/blocks/news/assets/test/4.jpeg")
