.special-conditions
    .container
        .breadcrumbs
            .breadcrumbs__inner
                a.breadcrumbs__link(href="#") Главная
                .breadcrumbs__separator
                a.breadcrumbs__link.active(href="#") Корпоративным клиентам
        .title.special-conditions__head-title Специальные условия для корпоративных клиентов

        .special-conditions__inner
            .special-conditions__item
                .special-conditions__title
                    .special-conditions__title-icon
                        img(src="/src/blocks/special-conditions/assets/img/productadded.svg")
                    | Оптовые цены прямо на сайте
            .special-conditions__item
                .special-conditions__title
                    .special-conditions__title-icon
                        img(src="/src/blocks/special-conditions/assets/img/productadded.svg")
                    | Бесплатная доставка при заказе от 70 000 Сом от 2-х дней
            .special-conditions__item
                .special-conditions__title
                    .special-conditions__title-icon
                        img(src="/src/blocks/special-conditions/assets/img/productadded.svg")
                    | Возможность сохранения заказа на ваше устройство

        a(href="#").button.button--red-width.button.button--red.special-conditions__button Зарегистрироваться как оптовый покупатель