.return-conditions
    .container
        .breadcrumbs
            .breadcrumbs__inner
                a.breadcrumbs__link(href="#") Главная
                .breadcrumbs__separator
                a.breadcrumbs__link.active(href="#") Условия обмена и возврата
        .title Условия обмена и возврата товара

        .return-conditions__inner

            .return-conditions__information
                .return-conditions__description Вы можете отказаться от товара, заказанного через наш сайт, полностью или частично.

                .return-conditions__row
                    .return-conditions__step
                        .return-conditions__step-icon
                            img(src="/src/blocks/return-conditions/assets/img/attention.svg")
                        | Отказ возможен до момента отгрузки вашего товара на доставку.
                    .return-conditions__step
                        .return-conditions__step-icon
                            img(src="/src/blocks/return-conditions/assets/img/attention.svg")
                        | Если машина уже выехала, необходимо будет подписать акт возврата товара и оплатить доставку.

            .return-conditions__image-box
                img.return-conditions__image(src="/src/blocks/return-conditions/assets/img/wallet.svg")

.return-conditions__advantages
    .container
        .return-conditions__advantages-inner
            .return-conditions__advantages-item
                .return-conditions__advantages-icon
                    img(src="/src/blocks/return-conditions/assets/img/product.svg")
                .return-conditions__advantages-title Возврат товара надлежащего качества
                .return-conditions__advantages-text После передачи товара покупателю срок возврата товара надлежащего качества составляет 1 год с момента передачи товара.
                .return-conditions__advantages-text Возврат товара надлежащего качества возможен, если сохранены товарный вид, чеки и документы подтверждающие факт покупки.
                .return-conditions__advantages-text При возврате товара надлежащего качества покупателю возвращаются денежные средства только в размере стоимости соответствующего товара, стоимость оплаченной доставки/иных дополнительных услуг не возвращается.
            .return-conditions__advantages-item
                .return-conditions__advantages-icon
                    img(src="/src/blocks/return-conditions/assets/img/damaged.svg")
                .return-conditions__advantages-title Возврат товара ненадлежащего качества
                .return-conditions__advantages-text В случае обнаружения брака или несоответствия товара утвержденному заказу денежные средства возвращаются в полном объеме, включая стоимость доставки.

            .return-conditions__advantages-item
                .return-conditions__advantages-icon
                    img(src="/src/blocks/return-conditions/assets/img/damaged-exchange.svg")
                .return-conditions__advantages-title Обмен товара надлежащего качества
                .return-conditions__advantages-text Если товар надлежащего качества, но не подошёл по форме, габаритам, фасону, расцветке, размеру или комплектации, Вы можете обменять его на аналогичный товар в течение 14 календарных дней, не считая дня его покупки.
                .return-conditions__advantages-text Обмен товара надлежащего качества производится, если товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы, фабричные ярлыки, а так же имеется кассовый или товарный чек, либо иной документ, подтверждающий оплату товара.

            .return-conditions__advantages-item
                .return-conditions__advantages-icon
                    img(src="/src/blocks/return-conditions/assets/img/damaged-exchange2.svg")
                .return-conditions__advantages-title Обмен товара ненадлежащего качества
                .return-conditions__advantages-text Товар возвращается строго в сроки, установленные действующим законодательством. В случае если срок для обмена/возврата товара надлежащего качества истёк, можно заполнить заявление на рассмотрение администрации магазина. Соответствующий бланк заявления находится у администратора.
                .return-conditions__advantages-text При себе необходимо иметь документ, подтверждающий  оплату товара.
                .return-conditions__advantages-text Срок рассмотрения данного заявления 7 дней. Обратите внимание, что решение каждый раз принимается индивидуально и остаётся на усмотрение администрации магазина.
