.happy-help
    .container
        .title Мы всегда готовы вам помочь
        .happy-help__carousel.owl-carousel.owl-theme.owl-carousel-style
            .happy-help__item
                .happy-help__image-box
                    img.happy-help__image(src="/src/blocks/happy-help/assets/img/person-1.png")
                .happy-help__title Александр Иванов
                .happy-help__text Менеджер по продажам
            .happy-help__item
                .happy-help__image-box
                    img.happy-help__image(src="/src/blocks/happy-help/assets/img/person-2.png")
                .happy-help__title Александр Иванов
                .happy-help__text Менеджер по продажам
            .happy-help__item
                .happy-help__image-box
                    img.happy-help__image(src="/src/blocks/happy-help/assets/img/person-3.png")
                .happy-help__title Александр Иванов
                .happy-help__text Менеджер по продажам
            .happy-help__item
                .happy-help__image-box
                    img.happy-help__image(src="/src/blocks/happy-help/assets/img/person-4.png")
                .happy-help__title Александр Иванов
                .happy-help__text Менеджер по продажам
            .happy-help__item
                .happy-help__image-box
                    img.happy-help__image(src="/src/blocks/happy-help/assets/img/person-3.png")
                .happy-help__title Александр Иванов
                .happy-help__text Менеджер по продажам
