.checkbox.checkbox--align
    input(type="checkbox").checkbox__input
    .checkbox__square
    .checkbox__text.checkbox__text--grey-small
        | Я даю согласие на обработку своих персональных данных согласно
        a(href="#").checkbox__right-link политике конфиденциальности