.delivery-features
    .container
        .title Особенности доставки
        .delivery-features__subtitle Условия доставки для юридических лиц:

        .delivery-features__inner

            .delivery-features__advantages
                .delivery-features__advantages-item
                    .delivery-features__advantages-item-icon
                        img(src="/src/blocks/delivery-features/assets/img/productadded.svg")
                    | Доставка при сумме заказа более 70 000 Сом осуществляется бесплатно;
                .delivery-features__advantages-item
                    .delivery-features__advantages-item-icon
                        img(src="/src/blocks/delivery-features/assets/img/productadded.svg")
                    | Стоимость доставки рассчитывается исходя из доставка в пределах города + 50 Сом за каждый последующий километр, итоговая стоимость доставки рассчитывается на момент оформления заказа.

            .delivery-features__image-box
                img.delivery-features__image(src="/src/blocks/delivery-features/assets/img/car.svg")

