.vacancies
    .container
        .breadcrumbs
            .breadcrumbs__inner
                a.breadcrumbs__link(href="#") Главная
                .breadcrumbs__separator
                a.breadcrumbs__link.active(href="#") Вакансии
        .title.vacancies__title Новые вакансии
        .vacancies__subtitle 114 открытых вакансий
        .vacancies__grid
            .vacancies__item
                .vacancies__item-title Специалист отдела продаж
                .vacancies__item-amount 55 000 - 75 000 com
                .vacancies__item-description Полная занятость, опыт работы от 3 лет.
                .button.button-more.vacancies__item-button
                    | Подробнее
                    .button-more__arrow
            .vacancies__item
                .vacancies__item-title Специалист отдела продаж
                .vacancies__item-amount 55 000 - 75 000 com
                .vacancies__item-description Полная занятость, опыт работы от 3 лет.
                .button.button-more.vacancies__item-button
                    | Подробнее
                    .button-more__arrow
            .vacancies__item
                .vacancies__item-title Специалист отдела продаж
                .vacancies__item-amount 55 000 - 75 000 com
                .vacancies__item-description Полная занятость, опыт работы от 3 лет.
                .button.button-more.vacancies__item-button
                    | Подробнее
                    .button-more__arrow
            .vacancies__item
                .vacancies__item-title Специалист отдела продаж
                .vacancies__item-amount 55 000 - 75 000 com
                .vacancies__item-description Полная занятость, опыт работы от 3 лет.
                .button.button-more.vacancies__item-button
                    | Подробнее
                    .button-more__arrow
            .vacancies__item
                .vacancies__item-title Специалист отдела продаж
                .vacancies__item-amount 55 000 - 75 000 com
                .vacancies__item-description Полная занятость, опыт работы от 3 лет.
                .button.button-more.vacancies__item-button
                    | Подробнее
                    .button-more__arrow
            .vacancies__item
                .vacancies__item-title Специалист отдела продаж
                .vacancies__item-amount 55 000 - 75 000 com
                .vacancies__item-description Полная занятость, опыт работы от 3 лет.
                .button.button-more.vacancies__item-button
                    | Подробнее
                    .button-more__arrow
            .vacancies__item
                .vacancies__item-title Специалист отдела продаж
                .vacancies__item-amount 55 000 - 75 000 com
                .vacancies__item-description Полная занятость, опыт работы от 3 лет.
                .button.button-more.vacancies__item-button
                    | Подробнее
                    .button-more__arrow
            .vacancies__item
                .vacancies__item-title Специалист отдела продаж
                .vacancies__item-amount 55 000 - 75 000 com
                .vacancies__item-description Полная занятость, опыт работы от 3 лет.
                .button.button-more.vacancies__item-button
                    | Подробнее
                    .button-more__arrow
            .vacancies__item
                .vacancies__item-title Специалист отдела продаж
                .vacancies__item-amount 55 000 - 75 000 com
                .vacancies__item-description Полная занятость, опыт работы от 3 лет.
                .button.button-more.vacancies__item-button
                    | Подробнее
                    .button-more__arrow
        .button.button-all.vacancies__button-all Показать еще
        .vacancies__pagination
            include ../pagination/pagination-pages