section.improvement-service
    .container
        .title.improvement-service__title У нас есть всё для ремонта и строительства!
        .improvement-service__inner.improvement-service__inner--direction
            .improvement-service__item.improvement-service__item--indent.improvement-service__item--width
                .improvement-service__item-icon
                    img(src="/src/blocks/improvement-service/assets/img/offline.svg")
                .improvement-service__item-text Без наценки
                .improvement-service__text Собственная логистика и 3 склада позволяют нам сохранять оптовые цены
            .improvement-service__item.improvement-service__item--indent.improvement-service__item--width
                .improvement-service__item-icon
                    img(src="/src/blocks/improvement-service/assets/img/delivery-clock.svg")
                .improvement-service__item-text Офлайн-магазины
                .improvement-service__text Все товары можно выбрать и купить вживую в наших магазинах
            .improvement-service__item.improvement-service__item--indent.improvement-service__item--width
                .improvement-service__item-icon
                    img(src="/src/blocks/improvement-service/assets/img/products-70.svg")
                .improvement-service__item-text Быстрая доставка
                .improvement-service__text Доставляем в день заказа. Сроки доставки в другие города индивидуальны

