.lead
    .lead__form.form-check
        .lead__form-input-block
            .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                input(placeholder='Имя').input.placeholder__input
                .placeholder__item Имя

        .lead__form-input-block
            .placeholder.form-check__field(data-elem='input' data-rule='input-empty')
                input(placeholder='Телефон или емейл').input.placeholder__input
                .placeholder__item Телефон или емейл

        .lead__form-input-block
            .lead__form-button.form-check__button Отправить