@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";


.lead {
  padding: 10px 130px;

  @include tablet-small-screen {
    padding: 10px 0;
  }

  &__form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    @include mobile-big-screen {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 50px);
      grid-gap: 10px;
    }

  }

  &__form-input-block {
  }

  &__form-button {
    width: 100%;
    height: 100%;
    @include flex-row-center;
    background: var(--dark-gray-color);
    color: var(--white-color);
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--dark-gray-color);

    &:hover {
      color: var(--black-color);
      border-color: var(--black-color);
      background: var(--white-color);
    }

  }
}