.input-styled.input-styled--indent
    label.input-styled__label(for="input-email" ) Ваш e-mail
    input.input-styled__input(type="email" id="input-email")
.input-styled__password-block
    .input-styled.input-styled--indent
        label.input-styled__label(for="input-phone4") Пароль
        input.input-styled__input(type="password" id="input-phone4")
        .input-styled__pass-icon
    a(href="#").input-styled__remember-password Забыли пароль?