.input-styled__row
    .input-styled.input-styled--mr
        label.input-styled__label(for="input-phone") Номер телефона
        input.input-styled__input(type="phone" id="input-phone")
    .input-styled
        label.input-styled__label(for="input-email") E-mail
        input.input-styled__input(type="email" id="input-email")
