
.input-styled__container
    .input-styled.input-styled--indent
        label.input-styled__label(for="input-city") Город
        input.input-styled__input(type="text" id="input-city")
    .input-styled.input-styled--indent
        label.input-styled__label(for="input-town") Улица
        input.input-styled__input(type="text" id="input-town")
.input-styled__row-style
    .input-styled.input-styled--mr-indent
        label.input-styled__label(for="input-house") Дом/стр.
        input.input-styled__input(type="text" id="input-house")
    .input-styled
        label.input-styled__label(for="input-apartment") Корп.
        input.input-styled__input(type="text" id="input-apartment")