.input-styled.input-styled--indent
    label.input-styled__label(for="input-fast1") Введите старый пароль
    input.input-styled__input(type="password" id="input-fast1")
.input-styled.input-styled--indent
    label.input-styled__label(for="input-fast3") Введите новый пароль
    input.input-styled__input(type="password" id="input-fast3")
.input-styled
    label.input-styled__label(for="input-fast2") Повторите новый пароль
    input.input-styled__input(type="password" id="input-fast2")