.input-styled.input-styled__reg
    label.input-styled__label(for="input-phone") Введите Имя по паспорту
    input.input-styled__input(type="text" id="input-phone")
.input-styled.input-styled__reg
    label.input-styled__label(for="input-phone2") Телефон
    input.input-styled__input(type="phone" id="input-phone2")
.input-styled.input-styled__reg
    label.input-styled__label(for="input-phone3") E-mail
    input.input-styled__input(type="email" id="input-phone3")
.input-styled.input-styled__reg
    label.input-styled__label(for="input-phone4") Пароль
    input.input-styled__input(type="password" id="input-phone4")
    .input-styled__pass-icon