.input-styled__row.input-styled__row--mb-indent
    .input-styled.input-styled--mr
        label.input-styled__label(for="input-text") Фамиилия
        input.input-styled__input(type="text" id="input-text")
    .input-styled
        label.input-styled__label(for="input-text2") Имя
        input.input-styled__input(type="text" id="input-text2")
.input-styled__row
    .input-styled.input-styled--mr
        label.input-styled__label(for="input-text3") Отчество
        input.input-styled__input(type="text" id="input-text3")
    .input-styled
        label.input-styled__label(for="input-text4") Дата рождения
        input.input-styled__input(type="text" id="input-text4")