.input-styled.input-styled__reg
    label.input-styled__label(for="input-phone") Название
    input.input-styled__input(type="text" id="input-phone")
.input-styled.input-styled__reg
    label.input-styled__label(for="text2") ИНН
    input.input-styled__input(type="text" id="text2")
.input-styled.input-styled__reg
    label.input-styled__label(for="text3") Адрес
    input.input-styled__input(type="text" id="text3")