@import "~frontend-scss-mixins/mixins";
@import "../base/mixins";
@import "../base/variables";
@import "../base/media-queries";

.input {

  $not-empty: '.placeholder--not-empty';
  $error: '.form-check__error--show';
  $product-in-tender: '.product-in-tender';

  width: 100%;
  height: 62px;
  background: #f7f7f7;
  border: 1px solid #f7f7f7;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 8px;
  color: var(--black-color);
  transition: none !important;

  &--small {
    height: 46px;
  }


  @include tablet-big-screen {
    height: 40px;
  }

  #{$not-empty} & {
    padding-top: 14px;
  }

  &--textarea {
    min-height: 100px;
    height: auto;
    padding-top: 14px;

    #{$product-in-tender} & {
      min-height: 170px;
    }
  }

  #{$not-empty} &--textarea {
    padding-top: 30px;
  }

  #{$error} & {
    border-color: var(--red-color);
    padding-top: 14px;
  }

  #{$error} &--textarea {
    padding-top: 30px;
  }

  @include input-placeholder {
    color: var(--gray-color);
  }
}
